@model IEnumerable<SistemaVeterinaria.Models.Vaccine>
@{
    ViewBag.Title = "DailyNotification";
}

<h2 class="text-center">Vacunas programadas para Hoy</h2>
<hr style="color: grey;border-color: grey;margin-top: 0" />
<table id="table" class="table table-bordered">
    <thead>
        <tr style="background: lightsteelblue">
            <th>
                Nro
            </th>
            <th>
                Paciente
            </th>
            <th class="text-center">
                Especie
            </th>            
            <th class="text-center">
                Ordinal
            </th>
            <th class="text-center">
                Fecha
            </th>
            <th class="text-center">
                Dueño
            </th>
            <th class="text-center">
                Teléfono
            </th>
            <th class="text-center">
                Opciones
            </th>
        </tr>
    </thead>
    <tbody id="Vaccines">
        @foreach (var item in Model)
        {
        <tr id="@("Vaccine" + item.VaccineId)">
            <td id="@("VaccineId" + item.VaccineId)">
                @item.VaccineId
            </td>
            <td id="@("PetName" + item.VaccineId)">
                @Html.DisplayFor(modelItem => item.Pet.PetName)
            </td>
            <td id="@("PetSpecie" + item.VaccineId)" class="text-center">
                @Html.DisplayFor(modelItem => item.Pet.PetSpecie)
            </td>
            <td id="@("VaccineNumber" + item.VaccineId)" class="text-center">
                @item.VaccineNumber° Vacuna
            </td>
            <td id="@("VaccineDate" + item.VaccineId)" class="text-center">

                @item.VaccineDate.ToString("D")
            </td>
            <td id="@("Owner" + item.VaccineId)" class="text-center">
                @item.Pet.Owner.OwnerFullName
            </td>
            <td class="text-center">
                @item.Pet.Owner.OwnerPhone
            </td>
            @if (!item.Done)
            {
                <td id="@("Options" + item.VaccineId)" class="text-center">
                    <button class="btn btn-success btn-sm" title="Confirmar" onclick="vaccineConfirm(@item.VaccineId,@item.VaccineNumber,'@item.Pet.PetName')"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                    <button class="btn btn-primary btn-sm" title="Aplazar" onclick="postpone(@item.VaccineId,@item.PetId,'@DateTime.Today.ToString("yyyy-MM-dd")')"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></button>
                    <button class="btn btn-danger btn-sm" title="Anular" onclick="removeVaccine(@item.VaccineId)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                </td>
            }
            else
            {
                <td id="@("Options" + item.VaccineId)" class="text-center" style="color:green">
                    Realizada
                </td>
            }
        </tr>
        }
    </tbody>
</table>

<div id="modalPostpone" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:110%;margin-left:-10%">
            <div class="modal-header">
                <h5 style="width:50%" class="modal-title">Aplazar Notificación</h5>
                <div style="width:50%" class="text-right">
                    <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal" aria-label="Close" id="closePostpone">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">                
                @*<p id="message">¿Está seguro de posponer la notificación Nro # para el día @DateTime.Today.AddDays(1).ToString("D")?</p>*@                
                <div class="modalinput">
                    <label class="modallabel">Nro Vacuna:</label>
                    <p id="EditVaccineId"></p>
                </div>
                <div class="modalinput">
                    <label class="modallabel">Ordinal:</label>
                    <p id="EditVaccineNumber"></p>
                </div>
                <div class="modalinput">
                    <label class="modallabel">Fecha:</label>
                    <input id="EditVaccineDate"  style="width:30%" type="date" />
                </div>
                <span id="EditVaccineDateSpan" style="color:red;display:none;margin-left:30%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="modallabel">Paciente:</label>
                    <p id="EditPetId" style="display:none"></p>
                    <p id="EditVaccinePet"></p>
                </div>
                <div style="margin-left:10%;margin-top:7%">
                    <text style="color:red;font-weight:bold">IMPORTANTE:</text>
                    <span>Si modifica la fecha de la notificación, se modificarán las fechas de las notificaciones posteriores.</span>
                </div>
            </div>
            <div class="modal-footer">
                <button id="Postpone" type="button" class="btn btn-primary" onclick="SavePostpone('@DateTime.Today.ToString("yyyy-MM-dd")')">Aplazar</button>
                <button id="Cancel" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function postpone(vaccineId, petId, today) {
            $('#EditVaccineId').text($('#VaccineId' + vaccineId).html().trim());
            $('#EditVaccineNumber').text($('#VaccineNumber' + vaccineId).html().trim());
            var date = $('#VaccineDate' + vaccineId).html().trim();

            $('#EditVaccineDate').val(today);
            $('#EditVaccineDateSpan').hide();
            $('#EditPetId').text(petId);
            var pet = $('#PetName' + vaccineId).html().trim() + ' (' + $('#PetSpecie' + vaccineId).html().trim() + ')' + ' - ' + $('#Owner' + vaccineId).html().trim();
            $('#EditVaccinePet').text(pet);

            $('#modalPostpone').show('slow');
        }

        function SavePostpone(today) {
            var date = String($('#EditVaccineDate').val());;

            if (date < today | date == '') {
                $('#EditVaccineDateSpan').text('Ingrese una fecha válida superior a la de hoy.').show();
            } else {
                $('#modalPostpone').hide('slow');
                if (date > today) {
                    var vaccine = {
                        VaccineId: parseInt($('#EditVaccineId').text()),
                        VaccineNumber: parseInt($('#EditVaccineNumber').text()),
                        VaccineDate: $('#EditVaccineDate').val(),
                        PetId: parseInt($('#EditPetId').text()),
                        Pet: null
                    }

                    $.ajax({
                        url: '@Url.Action("EditVaccine","Vaccines")',
                        type: "POST",
                        data: JSON.stringify(vaccine),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function (d) {
                            toastr.success('Se han modificado ' + String(d.vaccineDates.length) + ' notificaciones de Vacunas.');

                            //$('#VaccineDate' + d.vaccineId).html(d.vaccineDates[0]);

                            $('#Options' + d.vaccineId).html('Aplazado al ' + d.vaccineDates[0].split('.')[1]).css('color', 'green');
                            $('#Vaccine' + d.vaccineId).css("background-color", "#dee1ea");
                            toastr.info('Al actualizar la página no se visualizarán la notificaciones aplazadas.');
                        }
                    });
                }
            }
        }

        $('#Cancel').click(function () {
            $('#modalPostpone').hide('slow');
        });

        $('#closePostpone').click(function () {
            $('#modalPostpone').hide('slow');
        });

        function removeVaccine(vaccineId) {
            bootbox.confirm({
                title: "Anular Notificación",
                message: "Al anular la notificación de vacuna Nro " + String(vaccineId) + " se omitirá su aviso y su correspondiente vacuna no figurará en el listado de Vacunas realizadas al Paciente.",
                buttons: {
                    confirm: {
                        label: "Anular",
                        className: "btn-danger"
                    },
                    cancel: {
                        label: "Cancelar",
                        className: "btn-primary"
                    }
                },
                callback: function (result) {
                    if (result) {
                        var options = {};
                        options.url = '@Url.Action("DeleteVaccine", "Vaccines")';
                        options.type = "POST";
                        options.data = { "vaccineId": vaccineId };
                        options.dataType = "json";
                        options.success = function (data) {
                            if (data) {
                                toastr.success("Notificación anulada");

                                $('#Options' + vaccineId).html('Notificación y Vacuna Anuladas').css('color', 'red');
                            }
                        };
                        $.ajax(options);
                    }
                }
            });
        }

        function vaccineConfirm(vaccineId,vaccineNumber,petName) {
            bootbox.confirm({
                title: "Confirmar Vacuna",
                message: "¿Desea confirmar la realización de la vacuna Nro " + String(vaccineNumber) + " a " + petName + "?",
                buttons: {
                    confirm: {
                        label: "Confirmar",
                        className: "btn-success"
                    },
                    cancel: {
                        label: "Cancelar",
                        className: "btn-primary"
                    }
                },
                callback: function (result) {
                    if (result) {
                        var options = {};
                        options.url = '@Url.Action("ConfirmVaccine", "Vaccines")';
                        options.type = "POST";
                        options.data = { "vaccineId": vaccineId };
                        options.dataType = "json";
                        options.success = function (data) {
                            if (data) {
                                toastr.success("Vacuna realizada exitosamente");

                                $('#Options' + vaccineId).html('Realizada').css('color', 'green');
                            } else {
                                toastr.error("Error: La Vacuna que intenta confirmar ha sido eliminada.");
                            }
                        };
                        $.ajax(options);
                    }
                }
            });
        }
    </script>
}
