@model IEnumerable<SistemaVeterinaria.Models.Shower>

@{
    ViewBag.Title = "Index";
}

<head>
    <style>
        td text:first-child {
            display: none;
        }

        .mylabel {
            margin-left: 10%;
            width: 26%;
        }
    </style>
</head>
<div style="width: 100%;display: inline-flex">
    <div style="width: 25%"><a id="createShower" class="btn btn-success" style="margin-top: 6%">Agregar Notificación</a></div>
    <div style="width: 50%">
        <h2 class="text-center">Notificaciones de Baños</h2>
    </div>
    <div style="width: 25%"></div>
</div>
<hr style="color: grey;border-color: grey;margin-top: 0"/>

<table id="table" class="table table-bordered">
    <thead>
        <tr>
            <th>
                Nro
            </th>
            <th>
                Paciente
            </th>
            <th>
                Especie
            </th>
            <th>
                Dueño
            </th>
            <th class="text-center">
                Fecha
            </th>
            <th class="text-center">
                Turno
            </th>
            <th class="text-center">Opciones</th>
        </tr>
    </thead>

    <tbody id="showers">
        @foreach (var item in Model)
        {
            <tr id="@("shower" + item.ShowerId)">
                <td id="@("ShowerId" + item.ShowerId)">
                    @item.ShowerId
                </td>
                <td id="@("PetName" + item.ShowerId)">
                    @Html.DisplayFor(modelItem => item.PetName)
                </td>
                <td id="@("PetSpecie" + item.ShowerId)">
                    @item.PetSpecie
                </td>
                <td id="@("Owner" + item.ShowerId)">
                    @item.Owner
                </td>
                <td id="@("ShowerDate" + item.ShowerId)" class="text-center">
                    <text>@item.ShowerDate.ToString("yyyy/MM/dd")</text>
                    <text>@item.ShowerDate.ToString("dd/MM/yyyy")</text>
                </td>
                <td class="text-center">
                    @if (item.ShowerTurn) {<p id="@("ShowerTurn" + item.ShowerId)">Tarde</p>}else{<p id="@("ShowerTurn" + item.ShowerId)">Mañana</p>}</td>
                <td id="@("Buttons" + item.ShowerId)" class="text-center">
                    @if (item.PetId != 0)
                    {
                        <button class="btn btn-primary btn-sm" title="Editar" onclick="editshower(@item.ShowerId,@item.PetId,'@item.ShowerDate.ToString("yyyy-MM-dd")')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                    }
                    else
                    {
                        <button class="btn btn-primary btn-sm" title="Editar" onclick="editOccasionalShower(@item.ShowerId,'@item.ShowerDate.ToString("yyyy-MM-dd")',@item.OwnerPhone)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                    }
                    <button id="@("deletebutton" + item.ShowerId)" class="btn btn-danger btn-sm" title="Eliminar" onclick="deleteshower(@item.ShowerId)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                </td>
            </tr>
        }
    </tbody>

</table>

<div id="modalShower" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="width:50%" class="modal-title">Agregar Notificación de Baño</h5>
                <div style="width:50%" class="text-right">
                    <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal" aria-label="Close" id="closeShower">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="modalinput">
                    <label class="modallabel">Fecha:</label>
                    <input id="ShowerDate" style="width:30%" type="date" />
                </div>
                <span id="ShowerDateSpan" style="color:red;display:none;margin-left:30%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="modallabel">Paciente:</label>
                    <select id="ShowerPet" class="js-example-basic-single" style="width:60%">
                        @foreach (var pet in ViewBag.Pets)
                        {
                            <option value="@pet.PetId">@pet.PetName (@pet.PetSpecie) - @pet.Owner.OwnerLastName, @pet.Owner.OwnerName</option>
                        }
                    </select>
                </div>
                <span id="ShowerPetSpan" style="color:red;display:none;margin-left:30%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="modallabel">Turno:</label>
                    <label style="width:18%">
                        <input id="morningShift" name="ShowerTurnRadio" type="radio" checked="checked" />
                        Mañana
                    </label>
                    <label>
                        <input id="afternoonShift" name="ShowerTurnRadio" type="radio" />
                        Tarde
                    </label>
                </div>
                <span id="ShowerTurnSpan" style="color:red;display:none;margin-left:30%"></span>
            </div>
            <div class="modal-footer">
                <button id="Save" type="button" class="btn btn-success">Guardar</button>
                <button id="Cancel" type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalSelectShower" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="width:50%" class="modal-title">Seleccionar tipo de Paciente</h5>
                <div style="width:50%" class="text-right">
                    <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal" aria-label="Close" id="closeSelectShower">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <h4 class="text-center">¿Qué tipo de Paciente recibirá el baño?</h4>
                <div style="width:100%;display:inline-flex;margin-top:3%;margin-bottom:3%">
                    <div class="text-center" style="width:50%">
                        <button id="FrequentPatient" class="btn btn-primary">Paciente Frecuente</button>
                    </div>
                    <div class="text-center" style="width:50%">
                        <button id="OccasionalPatient" class="btn btn-primary">Paciente Ocasional</button>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

<div id="modalOccasionalShower" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="width:50%" class="modal-title">Agregar Notificación de Baño</h5>
                <div style="width:50%" class="text-right">
                    <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal" aria-label="Close" id="closeOccasionalShower">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="modalinput">
                    <label class="modallabel">Fecha:</label>
                    <input id="OccasionalShowerDate" style="width:30%" type="date" />
                </div>
                <span id="OccasionalShowerDateSpan" style="color:red;display:none;margin-left:30%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="modallabel">Turno:</label>
                    <label style="width:18%">
                        <input id="OccasionalMorningShift" name="OccasionalTurnRadio" type="radio" checked="checked" />
                        Mañana
                    </label>
                    <label>
                        <input id="OccasionalAfternoonShift" name="OccasionalTurnRadio" type="radio" />
                        Tarde
                    </label>
                </div>
                <span id="OccasionalShowerTurnSpan" style="color:red;display:none;margin-left:30%"></span>
                <hr style="margin-top: 3%" />
                <h4 class="text-center" style="background-color:lightgray">Datos del Dueño</h4>
                <div class="modalinput" style="margin-top:2%">
                    <label class="mylabel">Nombre:</label>
                    <input id="OccasionalOwnerName" type="text" />
                </div>
                <span id="OccasionalOwnerNameSpan" style="color:red;display:none;margin-left:36%"></span>
                <div class="modalinput" style="margin-top:2%">
                    <label class="mylabel">Apellido:</label>
                    <input id="OccasionalOwnerLastName" type="text" />
                </div>
                <span id="OccasionalOwnerLastNameSpan" style="color:red;display:none;margin-left:36%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="mylabel">Teléfono:</label>
                    <input id="OccasionalOwnerPhone" type="text" placeholder="(opcional)" />
                </div>
                <hr style="margin-top: 3%" />
                <h4 class="text-center" style="background-color:lightgray">Datos del Paciente</h4>
                <div class="modalinput" style="margin-top:2%">
                    <label class="mylabel">Nombre Paciente:</label>
                    <input id="OccasionalPatientName" type="text" />
                </div>
                <span id="OccasionalPatientNameSpan" style="color:red;display:none;margin-left:36%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="mylabel">Nacimiento:</label>
                    <input id="OccasionalPatientBirthday" type="date" />
                </div>
                <span id="OccasionalPatientBirthdaySpan" style="color:red;display:none;margin-left:36%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="mylabel">Especie:</label>
                    <label style="width:18%">
                        <input id="OccasionalPetDogSpecie" name="OccasionalPetSpecie" type="radio" checked="checked" />
                        Perro
                    </label>
                    <label>
                        <input id="OccasionalPetCatSpecie" name="OccasionalPetSpecie" type="radio" />
                        Gato
                    </label>
                </div>
                <div class="modalinput" style="margin-top:1%">
                    <label class="mylabel">Sexo:</label>
                    <label style="width:18%">
                        <input id="OccasionalPetFemaleSex" name="OccasionalPetSex" type="radio" checked="checked" />
                        Hembra
                    </label>
                    <label>
                        <input id="OccasionalPetMaleSex" name="OccasionalPetSex" type="radio" />
                        Macho
                    </label>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 0">
                <button id="OccasionalSave" type="button" class="btn btn-success">Guardar</button>
                <button id="OccasionalCancel" type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="editShower" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="width:50%" class="modal-title">Editar Notificación de Baño</h5>
                <div style="width:50%" class="text-right">
                    <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal" aria-label="Close" id="closeEditShower">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="modalinput">
                    <label class="modallabel">Baño Nro:</label>
                    <input id="ShowerId" style="width:30%;border:none;background-color:transparent" type="number" disabled="disabled" />
                </div>
                <div class="modalinput" style="margin-top:1%">
                    <label class="modallabel">Fecha:</label>
                    <input id="EditShowerDate" style="width:30%" type="date" />
                </div>
                <span id="EditShowerDateSpan" style="color:red;display:none;margin-left:30%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="modallabel">Paciente:</label>
                    <select id="EditShowerPet" class="js-example-basic-single" style="width:60%">
                        @foreach (var pet in ViewBag.Pets)
                        {
                            <option value="@pet.PetId">@pet.PetName (@pet.PetSpecie) - @pet.Owner.OwnerLastName, @pet.Owner.OwnerName</option>
                        }
                    </select>
                </div>
                <span id="EditShowerPetSpan" style="color:red;display:none;margin-left:30%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="modallabel">Turno:</label>
                    <label style="width:18%">
                        <input id="editMorningShift" name="EditShowerTurnRadio" type="radio" checked="checked" />
                        Mañana
                    </label>
                    <label>
                        <input id="editAfternoonShift" name="EditShowerTurnRadio" type="radio" />
                        Tarde
                    </label>
                </div>
                <span id="EditShowerTurnSpan" style="color:red;display:none;margin-left:30%"></span>
            </div>
            <div class="modal-footer">
                <button id="EditSave" type="button" class="btn btn-success">Guardar</button>
                <button id="EditCancel" type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="editOccasionalShower" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="width:50%" class="modal-title">Editar Notificación de Baño</h5>
                <div style="width:50%" class="text-right">
                    <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal" aria-label="Close" id="closeEditOccasionalShower">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="modalinput">
                    <label class="modallabel">Baño Nro:</label>
                    <input id="OccasionalShowerId" style="background-color:transparent;border-color:transparent" disabled="disabled" type="number" />
                </div>
                <div class="modalinput" style="margin-top:1%">
                    <label class="modallabel">Fecha:</label>
                    <input id="EditOccasionalShowerDate" style="width:30%" type="date" />
                </div>
                <span id="EditOccasionalShowerDateSpan" style="color:red;display:none;margin-left:30%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="modallabel">Turno:</label>
                    <label style="width:18%">
                        <input id="EditOccasionalMorningShift" name="EditOccasionalTurnRadio" type="radio" checked="checked" />
                        Mañana
                    </label>
                    <label>
                        <input id="EditOccasionalAfternoonShift" name="EditOccasionalTurnRadio" type="radio" />
                        Tarde
                    </label>
                </div>
                <span id="EditOccasionalShowerTurnSpan" style="color:red;display:none;margin-left:30%"></span>
                <hr />
                <h4 class="text-center" style="background-color:lightgray">Datos del Dueño</h4>
                <div class="modalinput" style="margin-top:2%">
                    <label class="mylabel">Apellido y Nombre:</label>
                    <input id="EditOccasionalOwnerName" type="text" />
                </div>
                <span id="EditOccasionalOwnerNameSpan" style="color:red;display:none;margin-left:36%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="mylabel">Teléfono:</label>
                    <input id="EditOccasionalOwnerPhone" type="text" placeholder="(opcional)" />
                </div>
                <hr />
                <h4 class="text-center" style="background-color:lightgray">Datos del Paciente</h4>
                <div class="modalinput" style="margin-top:2%">
                    <label class="mylabel">Nombre Paciente:</label>
                    <input id="EditOccasionalPatientName" type="text" placeholder="(opcional)" />
                </div>
                <div class="modalinput" style="margin-top:1%">
                    <label class="mylabel">Especie:</label>
                    <label style="width:18%">
                        <input id="EditOccasionalPetDogSpecie" name="EditOccasionalPetSpecie" type="radio" checked="checked" />
                        Perro
                    </label>
                    <label>
                        <input id="EditOccasionalPetCatSpecie" name="EditOccasionalPetSpecie" type="radio" />
                        Gato
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="EditOccasionalSave" type="button" class="btn btn-success">Guardar</button>
                <button id="EditOccasionalCancel" type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                order: [[4, "asc"]],
                "language": {
                    "url": "/Scripts/DataTables/spanish.json"
                }
            });
        });

        $('.js-example-basic-single').select2({
            placeholder: "Seleccione un Paciente",
            allowClear: true
        });

        ///////////////////////// Create Shower ///////////////////////////

        $('#createShower').click(function () {
            $('#modalSelectShower').show('slow');
        });

        $('#closeSelectShower').click(function () {
            $('#modalSelectShower').hide('slow');
        });

        $('#FrequentPatient').click(function () {
            $('#modalSelectShower').hide();

            $('#ShowerDateSpan').hide();
            $("#ShowerPet").val(0).trigger('change');
            $('#ShowerPetSpan').hide();
            $('#ShowerTurnSpan').hide();

            $('#modalShower').show('slow');
        });

        $('#OccasionalPatient').click(function () {
            $('#modalSelectShower').hide();

            $('#OccasionalShowerDate').val('');
            $('#OccasionalShowerDateSpan').hide();
            $('#OccasionalShowerTurnSpan').hide();
            $('#OccasionalOwnerName').val('');
            $('#OccasionalOwnerNameSpan').hide();
            $('#OccasionalOwnerLastName').val('');
            $('#OccasionalOwnerLastNameSpan').hide();
            $('#OccasionalOwnerPhone').val('');
            $('#OccasionalPatientName').val('');
            $('#OccasionalPatientNameSpan').hide();
            $('#OccasionalPatientBirthday').val('');
            $('#OccasionalPatientBirthdaySpan').hide();

            $('#modalOccasionalShower').show('slow');
        });

        $('#closeOccasionalShower').click(function () {
            $('#modalOccasionalShower').hide('slow');
        });

        $('#OccasionalCancel').click(function () {
            $('#modalOccasionalShower').hide('slow');
        });

        $('#closeShower').click(function () {
            $('#modalShower').hide('slow');
        });

        $('#Cancel').click(function () {
            $('#modalShower').hide('slow');
        });

        $('#Save').click(function () {
            $('#ShowerDateSpan').hide();
            $('#ShowerPetSpan').hide();
            $('#ShowerTurnSpan').hide();

            var validation = true;
            if ($('#ShowerDate').val() == '') {
                validation = false;
                $('#ShowerDateSpan').text('Debe seleccionar una fecha.').show();
            }

            if ($('#ShowerPet').val() == 0 | $('#ShowerPet').val() == null) {
                validation = false;
                $('#ShowerPetSpan').text('Debe seleccionar un Paciente').show();
            }

            var turn;
            if ($('#morningShift').is(':checked')) {
                turn = false;
            } else {
                turn = true;
            }

            if (validation) {
                var options = {};
                options.url = '@Url.Action("ValidateShower", "Showers")';
                options.type = "GET";
                options.data = { "showerDate": $('#ShowerDate').val(), "petId": $('#ShowerPet').val(), "showerTurn": turn };
                options.dataType = "json";
                options.success = function (data) {
                    switch (data) {
                        case 0:
                            $('#modalShower').hide('slow');

                            var shower = {
                                ShowerId: null,
                                ShowerDate: $('#ShowerDate').val(),
                                ShowerTurn: turn,
                                PetId: $('#ShowerPet').val(),
                                PetName: '',
                                PetSpecie: '',
                                Owner: ''
                            }

                            $.ajax({
                                 url: '@Url.Action("CreateShower","Showers")',
                                 type: "POST",
                                 data: JSON.stringify(shower),
                                 dataType: "JSON",
                                 contentType: "application/json",
                                 success: function (d) {
                                     if (d.status) {
                                        if (turn) {
                                            turn = 'Tarde';
                                        } else {
                                            turn = 'Mañana';
                                        }

                                        var row = '<tr style="background-color: #dee1ea">';
                                        row += '<td id="ShowerId' + d.showerId + '">' + String(d.showerId) + '</td>';
                                        row += '<td id="PetName' + d.showerId + '">' + d.petname + '</td>';
                                        row += '<td id="PetSpecie' + d.showerId + '">' + d.specie + '</td>';
                                        row += '<td id="Owner' + d.showerId + '">' + d.owner + '</td>';
                                        row += '<td id="ShowerDate' + d.showerId + '" class="text-center">' + d.date.split('-')[2] + '/' + d.date.split('-')[1] + '/' + d.date.split('-')[0] + '</td>';
                                        row += '<td id="ShowerTurn' + d.showerId + '" class="text-center">' + turn + '</td>';
                                        row += '<td class="text-center"><button class="btn btn-primary btn-sm" title="Editar" onclick="editshower(\'' + d.showerId + '\',\'' + d.petId + '\',\'' + d.date + '\' )"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;';
                                        row += '<button id="deletebutton'+ d.showerId +'" class="btn btn-danger btn-sm" title="Eliminar" onclick="deleteshower(' + d.showerId + ')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td></tr>';

                                        $('#showers').prepend(row);

                                        toastr.success('Se ha agregado una nueva notificación de Baño.');
                                     } else {
                                        toastr.success('ERROR.');
                                     }
                                 }
                            });
                            break;
                        case 1:
                            $('#ShowerDateSpan').text('No existe disponibilidad para la fecha.').show();
                            break;
                        case 2:
                            $('#ShowerTurnSpan').text('No existe disponibilidad para el turno.').show();
                            break;
                        case 3:
                            $('#ShowerPetSpan').text('El paciente ya tiene baño para la fecha.').show();
                            break;
                    }
                };
                $.ajax(options);
            }
        });

        $('#OccasionalSave').click(function () {
            $('#OccasionalShowerDateSpan').hide();
            $('#OccasionalShowerTurnSpan').hide();
            $('#OccasionalOwnerNameSpan').hide();
            $('#OccasionalOwnerLastNameSpan').hide();

            var validation = true;
            if ($('#OccasionalShowerDate').val() == '') {
                $('#OccasionalShowerDateSpan').text('Debe seleccionar una fecha').show();
                validation = false;
            }

            if ($('#OccasionalOwnerName').val().trim() == '') {
                $('#OccasionalOwnerNameSpan').text('Debe ingresar el nombre del Dueño').show();
                validation = false;
            }

            if ($('#OccasionalOwnerLastName').val().trim() == '') {
                $('#OccasionalOwnerLastNameSpan').text('Debe ingresar el apellido del Dueño').show();
                validation = false;
            }

            var turn;
            if ($('#OccasionalMorningShift').is(':checked')) {
                turn = false;
            } else {
                turn = true;
            }

            var specie;
            var specievalue = 0;
            if ($('#OccasionalPetDogSpecie').is(':checked')) {
                specie = 'Perro';
                specievalue = 1;
            } else {
                specie = 'Gato';
                specievalue = 2;
            }

            var sex;
            var sexvalue;
            if ($('#OccasionalPetFemaleSex').is(':checked')) {
                sex = 'Hembra';
                sexvalue = false;
            } else {
                sex = 'Macho';
                sexvalue = true;
            }

            if (validation) {
                var options = {};
                options.url = '@Url.Action("ValidateShower", "Showers")';
                options.type = "GET";
                options.data = { "showerDate": $('#OccasionalShowerDate').val(), "petId": 0, "showerTurn": turn };
                options.dataType = "json";
                options.success = function (data) {
                    switch (data) {
                        case 0:
                            //$('#modalOccasionalShower').hide('slow');

                            var shower = {
                                ShowerId: null,
                                ShowerDate: $('#OccasionalShowerDate').val(),
                                ShowerTurn: turn,
                                PetId: 0,
                                PetName: $('#OccasionalPatientName').val(),
                                PetSpecie: specie,
                                PetSex: sex,
                                Owner: $('#OccasionalOwnerLastName').val() + ', ' + $('#OccasionalOwnerName').val(),
                                OwnerPhone: $('#OccasionalOwnerPhone').val()
                            }                            

                            bootbox.confirm({
                                title: "Guardar Dueño y Paciente",
                                message: "¿Desea guardar los datos del Dueño y Paciente?",
                                buttons: {
                                    cancel: {
                                        label: "No",
                                        className: "btn-primary"
                                    },
                                    confirm: {
                                        label: "Si",
                                        className: "btn-success"
                                    }                                    
                                },
                                callback: function (result) {
                                    if (result) {
                                        var validatePet = true;

                                        if ($('#OccasionalPatientName').val() == '') {
                                            validatePet = false;
                                            $('#OccasionalPatientNameSpan').text('Debe ingresar el nombre del Paciente').show();
                                        }

                                        if ($('#OccasionalPatientBirthday').val() == '') {
                                            validatePet = false;
                                            $('#OccasionalPatientBirthdaySpan').text('Debe ingresar la fecha de nacimiento del Paciente').show();
                                        }

                                        if (validatePet) {
                                            $('#modalOccasionalShower').hide('slow');

                                            var owner = {
                                                OwnerId: null,
                                                OwnerName: $('#OccasionalOwnerName').val(),
                                                OwnerLastName: $('#OccasionalOwnerLastName').val(),
                                                OwnerAddress: '',
                                                OwnerPhone: $('#OccasionalOwnerPhone').val(),
                                                Pets: null
                                            }

                                            var pet = {
                                                PetId: null,
                                                PetName: $('#OccasionalPatientName').val(),
                                                PetSpecie: specievalue,
                                                PetBreed: '',
                                                PetSex: sexvalue,
                                                PetBirthday: $('#OccasionalPatientBirthday').val(),
                                                PetColor: '',
                                                OwnerId: null,
                                                Owner: null,
                                                Vaccinations: null,
                                                Surgeries: null
                                            }

                                            var ownerPetShower = {
                                                Shower: shower,
                                                Owner: owner,
                                                Pet: pet
                                            }

                                            $.ajax({
                                            url: '@Url.Action("CreateOwnerAndShower","Showers")',
                                            type: "POST",
                                            data: JSON.stringify(ownerPetShower),
                                            dataType: "JSON",
                                            contentType: "application/json",
                                            success: function (d) {
                                                if (d.status) {
                                                    if (turn) {
                                                        turn = 'Tarde';
                                                    } else {
                                                        turn = 'Mañana';
                                                    }

                                                    var row = '<tr style="background-color: #dee1ea">';
                                                    row += '<td id="ShowerId' + d.showerId + '">' + String(d.showerId) + '</td>';
                                                    row += '<td id="PetName' + d.showerId + '">' + d.petname + '</td>';
                                                    row += '<td id="PetSpecie' + d.showerId + '">' + d.specie + '</td>';
                                                    row += '<td id="Owner' + d.showerId + '">' + d.owner + '</td>';
                                                    row += '<td id="ShowerDate' + d.showerId + '" class="text-center">' + d.date.split('-')[2] + '/' + d.date.split('-')[1] + '/' + d.date.split('-')[0] + '</td>';
                                                    row += '<td id="ShowerTurn' + d.showerId + '" class="text-center">' + turn + '</td>';
                                                    row += '<td class="text-center"><button class="btn btn-primary btn-sm" title="Editar" onclick="editshower(\'' + d.showerId + '\',\'' + d.petId + '\',\'' + d.date + '\' )"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;';
                                                    row += '<button id="deletebutton'+ d.showerId +'" class="btn btn-danger btn-sm" title="Eliminar" onclick="deleteshower(' + d.showerId + ')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td></tr>';

                                                    $('#showers').prepend(row);

                                                    toastr.success('Se ha agregado una nueva notificación de Baño.');

                                                    //agregar a la lista de pacientes el nuevo paciente
                                                    $('#ShowerPet').append('<option value="' + d.petId + '">' + d.petname + ' (' + d.specie + ') - ' + d.owner + '</option>');
                                                    $('#EditShowerPet').append('<option value="' + d.petId + '">' + d.petname + ' (' + d.specie + ') - ' + d.owner + '</option>');
                                                } else {
                                                    toastr.success('ERROR.');
                                                }
                                            }
                                        });
                                        }
                                    } else {
                                        $.ajax({
                                            url: '@Url.Action("CreateShower","Showers")',
                                            type: "POST",
                                            data: JSON.stringify(shower),
                                            dataType: "JSON",
                                            contentType: "application/json",
                                            success: function (d) {
                                                if (d.status) {
                                                    if (turn) {
                                                        turn = 'Tarde';
                                                    } else {
                                                        turn = 'Mañana';
                                                    }

                                                    var row = '<tr style="background-color: #dee1ea">';
                                                    row += '<td id="ShowerId' + d.showerId + '">' + String(d.showerId) + '</td>';
                                                    row += '<td id="PetName' + d.showerId + '">' + d.petname + '</td>';
                                                    row += '<td id="PetSpecie' + d.showerId + '">' + d.specie + '</td>';
                                                    row += '<td id="Owner' + d.showerId + '">' + d.owner + '</td>';
                                                    row += '<td id="ShowerDate' + d.showerId + '" class="text-center">' + d.date.split('-')[2] + '/' + d.date.split('-')[1] + '/' + d.date.split('-')[0] + '</td>';
                                                    row += '<td id="ShowerTurn' + d.showerId + '" class="text-center">' + turn + '</td>';
                                                    row += '<td class="text-center"><button class="btn btn-primary btn-sm" title="Editar" onclick="editshower(\'' + d.showerId + '\',\'' + d.petId + '\',\'' + d.date + '\' )"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;';
                                                    row += '<button id="deletebutton' + d.showerId +'" class="btn btn-danger btn-sm" title="Eliminar" onclick="deleteshower(' + d.showerId + ')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td></tr>';

                                                    $('#showers').prepend(row);

                                                    toastr.success('Se ha agregado una nueva notificación de Baño.');
                                                } else {
                                                    toastr.success('ERROR.');
                                                }

                                                $('#modalOccasionalShower').hide('slow');
                                            }
                                        });
                                    }
                                }
                            });
                            break;
                        case 1:
                            $('#OccasionalShowerDateSpan').text('No existe disponibilidad para la fecha.').show();
                            break;
                        case 2:
                            $('#OccasionalShowerTurnSpan').text('No existe disponibilidad para el turno.').show();
                            break;
                        case 3:
                            break;
                    }
                };
                $.ajax(options);
            }

        });

        ////////////////////////////////// Edit Shower ///////////////////////////////////////////

        function editshower(showerId,petId,showerDate) {
            $('#ShowerId').val(showerId);

            $('#EditShowerDate').val(showerDate);
            $('#EditShowerPet').val(petId).trigger('change');
            if ($('#ShowerTurn' + showerId).text() == 'Tarde') {
                $('#editAfternoonShift').prop('checked', true);
            } else {
                $('#editMorningShift').prop('checked', true);
            }

            $('#EditShowerDateSpan').hide();
            $('#EditShowerPetSpan').hide();
            $('#EditShowerTurnSpan').hide();

            $('#editShower').show('slow');
        }

        $('#closeEditShower').click(function () {
            $('#editShower').hide('slow');
        });

        $('#EditCancel').click(function () {
            $('#editShower').hide('slow');
        });

        $('#EditSave').click(function () {
            $('#EditShowerDateSpan').hide();
            $('#EditShowerPetSpan').hide();
            $('#EditShowerTurnSpan').hide();

            var validation = true;
            if ($('#EditShowerDate').val() == '') {
                validation = false;
                $('#EditShowerDateSpan').text('Debe seleccionar una fecha').show();
            }

            var turn;
            if ($('#editMorningShift').is(':checked')) {
                turn = false;
            } else {
                turn = true;
            }

            var petId = 0;
            if ($('#EditShowerPet').val() != null) {
                petId = $('#EditShowerPet').val();
            }

            if (validation) {
                var options = {};
                options.url = '@Url.Action("ValidateEditShower", "Showers")';
                options.type = "GET";
                options.data = {
                    "showerDate": $('#EditShowerDate').val(), "showerTurn": turn, "petId": $('#EditShowerPet').val(), "showerId": $('#ShowerId').val() };
                options.dataType = "json";
                options.success = function (data) {
                    switch (data) {
                        case 0:
                            $('#editShower').hide('slow');

                            var shower = {
                                ShowerId: $('#ShowerId').val(),
                                ShowerDate: $('#EditShowerDate').val(),
                                ShowerTurn: turn,
                                PetId: petId,
                                PetName: '',
                                PetSpecie: '',
                                Owner: ''
                            }

                            $.ajax({
                                url: '@Url.Action("EditShower","Showers")',
                                type: "POST",
                                data: JSON.stringify(shower),
                                dataType: "JSON",
                                contentType: "application/json",
                                success: function (d) {
                                    if (d.status) {
                                        if (turn) {
                                            turn = 'Tarde';
                                        } else {
                                            turn = 'Mañana';
                                        }

                                        $('#ShowerId' + shower.ShowerId).html(String(shower.ShowerId));
                                        $('#PetName' + shower.ShowerId).html(String(d.petName));
                                        $('#PetSpecie' + shower.ShowerId).html(String(d.specie));
                                        $('#Owner' + shower.ShowerId).html(String(d.owner));
                                        $('#ShowerDate' + shower.ShowerId).html(d.date.split('-')[2] + '/' + d.date.split('-')[1] + '/' + d.date.split('-')[0]);
                                        $('#ShowerTurn' + shower.ShowerId).text(turn);

                                        var editbutton = '<button class="btn btn-primary btn-sm" title="Editar" onclick="editshower(\'' + shower.ShowerId + '\',\'' + d.petId + '\',\'' + d.date + '\' )"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;'
                                        var deletebutton = '<button id="deletebutton' + shower.ShowerId +'" class="btn btn-danger btn-sm" title="Eliminar" onclick="deleteshower(' + shower.showerId + ')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>';

                                        $('#Buttons' + shower.ShowerId).html(editbutton + deletebutton);
                                        $('#shower' + shower.ShowerId).css("background-color", "#dee1ea");

                                        toastr.success('Se ha modificado la notificación de Baño nro ' + String(shower.ShowerId) + '.');
                                    } else {
                                        toastr.success('ERROR.');
                                    }
                                }
                            });
                            break;
                        case 1:
                            $('#EditShowerDateSpan').text('No existe disponibilidad para la fecha.').show();
                            break;
                        case 2:
                            $('#EditShowerTurnSpan').text('No existe disponibilidad para el turno.').show();
                            break;
                        case 3:
                            $('#EditShowerPetSpan').text('El paciente ya tiene baño para la fecha.').show();
                            break;
                    }
                };
                $.ajax(options);
            }
        });

        /////////////////////////////////////// Edit Occasional Shower ////////////////////////////////

        function editOccasionalShower(showerId, showerDate, ownerPhone) {
            $('#OccasionalShowerId').val(showerId);

            $('#EditOccasionalShowerDate').val(showerDate);

            if ($('#ShowerTurn' + showerId).text() == 'Tarde') {
                $('#EditOccasionalAfternoonShift').prop('checked', true);
            } else {
                $('#EditOccasionalMorningShift').prop('checked', true);
            }

            $('#EditOccasionalOwnerName').val($('#Owner' + showerId).text().trim());
            $('#EditOccasionalOwnerPhone').val(ownerPhone);
            $('#EditOccasionalPatientName').val($('#PetName' + showerId).text().trim());

            if ($('#PetSpecie' + showerId).text() == 'Perro') {
                $('#EditOccasionalPetDogSpecie').prop('checked', true);
            } else {
                $('#EditOccasionalPetCatSpecie').prop('checked', true);
            }

            $('#EditOccasionalShowerDateSpan').hide();
            $('#EditOccasionalShowerPetSpan').hide();
            $('#EditOccasionalShowerTurnSpan').hide();
            $('#EditOccasionalOwnerNameSpan').hide();

            $('#editOccasionalShower').show('slow');
        }

        $('#closeEditOccasionalShower').click(function () {
            $('#editOccasionalShower').hide('slow');
        });

        $('#EditOccasionalCancel').click(function () {
            $('#editOccasionalShower').hide('slow');
        });

        $('#EditOccasionalSave').click(function () {
            $('#EditOccasionalShowerDateSpan').hide();
            $('#EditOccasionalShowerPetSpan').hide();
            $('#EditOccasionalShowerTurnSpan').hide();

            var validation = true;
            if ($('#EditOccasionalShowerDate').val() == '') {
                validation = false;
                $('#EditOcasionalShowerDateSpan').text('Debe seleccionar una fecha').show();
            }

            var turn;
            if ($('#EditOccasionalMorningShift').is(':checked')) {
                turn = false;
            } else {
                turn = true;
            }

            var specie;
            if ($('#EditOccasionalPetDogSpecie').is(':checked')) {
                specie = 'Perro';
            } else {
                specie = 'Gato';
            }

            if (validation) {
                var options = {};
                options.url = '@Url.Action("ValidateEditShower", "Showers")';
                options.type = "GET";
                options.data = {
                    "showerDate": $('#EditOccasionalShowerDate').val(), "showerTurn": turn, "petId": 0, "showerId": $('#OccasionalShowerId').val() };
                options.dataType = "json";
                options.success = function (data) {
                    switch (data) {
                        case 0:
                            $('#editOccasionalShower').hide('slow');

                            var shower = {
                                ShowerId: $('#OccasionalShowerId').val(),
                                ShowerDate: $('#EditOccasionalShowerDate').val(),
                                ShowerTurn: turn,
                                PetId: 0,
                                PetName: $('#EditOccasionalPatientName').val().trim(),
                                PetSpecie: specie,
                                Owner: $('#EditOccasionalOwnerName').val().trim(),
                                OwnerPhone: $('#EditOccasionalOwnerPhone').val().trim()
                            }

                            $.ajax({
                                url: '@Url.Action("EditShower","Showers")',
                                type: "POST",
                                data: JSON.stringify(shower),
                                dataType: "JSON",
                                contentType: "application/json",
                                success: function (d) {
                                    if (d.status) {
                                        if (turn) {
                                            turn = 'Tarde';
                                        } else {
                                            turn = 'Mañana';
                                        }

                                        $('#ShowerId' + shower.ShowerId).html(String(shower.ShowerId));
                                        $('#PetName' + shower.ShowerId).html(String(d.petName));
                                        $('#PetSpecie' + shower.ShowerId).html(String(d.specie));
                                        $('#Owner' + shower.ShowerId).html(String(d.owner));
                                        $('#ShowerDate' + shower.ShowerId).html(d.date.split('-')[2] + '/' + d.date.split('-')[1] + '/' + d.date.split('-')[0]);
                                        $('#ShowerTurn' + shower.ShowerId).text(turn);

                                        var editbutton = '<button class="btn btn-primary btn-sm" title="Editar" onclick="editOccasionalShower(\'' + shower.ShowerId + '\',\'' + d.date + '\',\'' + d.ownerPhone + '\' )"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;'
                                        var deletebutton = '<button id="deletebutton' + shower.ShowerId +'" class="btn btn-danger btn-sm" title="Eliminar" onclick="deleteshower(' + shower.showerId + ')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>';

                                        $('#Buttons' + shower.ShowerId).html(editbutton + deletebutton);
                                        $('#shower' + shower.ShowerId).css("background-color", "#dee1ea");

                                        toastr.success('Se ha modificado la notificación de Baño nro ' + String(shower.ShowerId) + '.');
                                    } else {
                                        toastr.success('ERROR.');
                                    }
                                }
                            });
                            break;
                        case 1:
                            $('#EditOccasionalShowerDateSpan').text('No existe disponibilidad para la fecha.').show();
                            break;
                        case 2:
                            $('#EditOccasionalShowerTurnSpan').text('No existe disponibilidad para el turno.').show();
                            break;
                    }
                };
                $.ajax(options);
            }
        });

        /////////////////////////////////////// Delete Shower /////////////////////////////////////////

        function deleteshower(showerId) {
            bootbox.confirm({
                title: "Eliminar Baño",
                message: "¿Está seguro de eliminar la notificación de Baño Nro " + String(showerId) + "?",
                buttons: {
                    confirm: {
                        label: "Eliminar",
                        className: "btn-danger"
                    },
                    cancel: {
                        label: "Cancelar",
                        className: "btn-primary"
                    }
                },
                callback: function (result) {
                    if (result) {
                        var options = {};
                        options.url = '@Url.Action("DeleteShower", "Showers")';
                        options.type = "POST";
                        options.data = { "showerId": showerId };
                        options.dataType = "json";
                        options.success = function (data) {
                            if (data) {
                                toastr.success("Notificación eliminada");
                                $('#deletebutton' + showerId).closest('tr').remove();
                            }
                        };
                        $.ajax(options);
                    }
                }
            });
        }
    </script>    
}
