@model SistemaVeterinaria.Models.Pet

@{
    ViewBag.Title = "Detalle de Paciente";
}

<head>
    <style>
        th h5{
            font-weight: bold;
        }

        td h5{
            margin-left: 40px;
        }

        tr th:first-child{
            width:100px;
        }

        .modalspan {
            color: red;
            display: none;
            margin-left: 30%
        }

        td p:first-child{
            display:none;
        }
    </style>
</head>

<div style="width: 100%;display: inline-flex">
    <div style="width: 25%"><a id="createVaccine" class="btn btn-success" style="margin-top: 6%;display:none">Agregar Vacuna</a></div>
    <div style="width: 50%">
        <h2 class="text-center">Detalle de Paciente</h2>
    </div>
    <div style="width: 25%"></div>
</div>
<hr style="color: grey;border-color: grey;margin-top:0"/>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#General" onclick="hideAddVaccine()">General</a></li>
        <li><a data-toggle="tab" href="#Vaccines" onclick="showAddVaccine()">Vacunas</a></li>
        <li><a data-toggle="tab" href="#Surgeries" onclick="hideAddVaccine()">Cirugías</a></li>
        <li><a data-toggle="tab" href="#Showers" onclick="hideAddVaccine()">Baños</a></li>
    </ul>

    <div class="tab-content">
        <div id="General" class="tab-pane fade in active">
            <br />
            <div style="width:100%;display:inline-flex">
                <div style="width:40%">                    
                    <h4>Detalle de Paciente</h4>
                    <hr style="color: grey;border-color: grey;margin-top: 0">

                    <div style="border:outset;border-radius:10px;background-color:lightsteelblue">
                        <table style="margin-left:4%">
                            <tr>
                                <th><h5>Nro Paciente:</h5></th>
                                <td><h5>@Model.PetId</h5></td>
                            </tr>
                            <tr>
                                <th><h5>Nombre:</h5></th>
                                <td><h5>@Model.PetName</h5></td>
                            </tr>
                            <tr>
                                <th><h5>Especie:</h5></th>
                                <td>@if (Model.PetSpecie == SistemaVeterinaria.Models.Species.Perro)
                                {<h5>Perro</h5>}
                                else
                                {<h5>Gato</h5>}</td>
                            </tr>
                            <tr>
                                <th><h5>Raza:</h5></th>
                                <td><h5>@Model.PetBreed</h5></td>
                            </tr>
                            <tr>
                                <th><h5>Sexo:</h5></th>
                                <td>@if (Model.PetSex)
                                { <h5>Macho</h5> }
                                else
                                { <h5>Hembra</h5> }</td>
                            </tr>
                            <tr>
                                <th><h5>Nacimiento:</h5></th>
                                <td><h5>@Model.PetBirthday.ToString("dd/MM/yyyy")</h5></td>
                            </tr>
                            <tr>
                                <th><h5>Edad:</h5></th>
                                <td><h5>@ViewBag.Age</h5></td>
                            </tr>
                            <tr>
                                <th><h5>Color:</h5></th>
                                <td><h5>@Model.PetColor</h5></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div style="width:40%;margin-left:10%">
                    <h4>Detalle de Dueño</h4>
                    <hr style="color: grey;border-color: grey;margin-top: 0" />

                    <div style="border:outset;border-radius:10px;background-color:lightsteelblue">
                        <table style="margin-left:4%">
                            <tr>
                                <th><h5>Nro Dueño:</h5></th>
                                <td><h5>@Model.OwnerId</h5></td>
                            </tr>
                            <tr>
                                <th><h5>Nombre:</h5></th>
                                <td><h5>@Model.Owner.OwnerName</h5></td>
                            </tr>
                            <tr>
                                <th><h5>Apellido:</h5></th>
                                <td><h5>@Model.Owner.OwnerLastName</h5></td>
                            </tr>
                            <tr>
                                <th><h5>Domicilio:</h5></th>
                                <td><h5>@Model.Owner.OwnerAddress</h5></td>
                            </tr>
                            <tr>
                                <th><h5>Teléfono:</h5></th>
                                <td><h5>@Model.Owner.OwnerPhone</h5></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="Vaccines" class="tab-pane fade">
            <br />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Nro</th>
                        <th>Paciente</th>
                        <th class="text-center">Ordinal</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody id="Vaccinates">
                    @foreach (var item in Model.Vaccinations.ToList().Where(v => v.VaccineDate <= DateTime.Today).OrderBy(v => v.VaccineNumber))
                    {
                        <tr id="@("Vaccine" + item.VaccineNumber)">
                            <td class="text-center">@item.VaccineId</td>
                            <td>@item.Pet.PetName</td>
                            <td class="text-center">@item.VaccineNumber° Vacuna</td>
                            <td class="text-center">
                                <p>@item.VaccineDate.ToString("yyyy/MM/dd")</p>
                                <p>@item.VaccineDate.ToString("dd/MM/yyyy")</p>
                            </td>
                            <td class="text-center" style="width:13%">
                                <button class="btn btn-success btn-sm" title="Editar" onclick="editVaccine(@item.VaccineId,@item.VaccineNumber,'@item.VaccineDate.ToString("yyyy-MM-dd")')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                                <button id="@("deletebutton" + item.VaccineId)" class="btn btn-danger btn-sm" title="Eliminar" onclick="deleteVaccine(@item.VaccineId)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="Surgeries" class="tab-pane fade">
            <br />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Nro</th>
                        <th>Paciente</th>
                        <th class="text-center">Cirugía</th>
                        <th class="text-center">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Surgeries.Where(s => s.SurgeryDate <= DateTime.Today))
                    {
                        <tr>
                            <td class="text-center">@item.SurgeryId</td>
                            <td>@item.Pet.PetName</td>
                            <td class="text-center">@item.SurgeryType.SurgeryTypeName</td>
                            <td class="text-center">@item.SurgeryDate.ToString("dd/MM/yyyy")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="Showers" class="tab-pane fade">
            <br />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Nro</th>
                        <th>Paciente</th>
                        <th class="text-center">Turno</th>
                        <th class="text-center">Fecha</th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Showers)
                    {
                        <tr>
                            <td class="text-center">@item.ShowerId</td>
                            <td>@item.PetName</td>                            
                            <td class="text-center">@if (item.ShowerTurn)
                            {<p>Mañana</p>}
                            else
                            {<p>Tarde</p>}</td>
                            <td class="text-center">@item.ShowerDate.ToString("dd/MM/yyyy")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="modalVaccine" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="width:50%" class="modal-title">Agregar Vacuna</h5>
                <div style="width:50%" class="text-right">
                    <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal" aria-label="Close" onclick="hideModalVaccine()">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="modalinput">
                    <label class="modallabel">Ordinal:</label>
                    <input id="VaccineNumber" type="number" min="1" max="30" style="width:30%" />
                </div>
                <span id="VaccineNumberSpan" class="modalspan"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="modallabel">Fecha:</label>
                    <input id="VaccineDate" style="width:30%" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                </div>
                <span id="VaccineDateSpan" class="modalspan"></span>
                <span id="VaccineGeneralSpan" style="color:red;display:none"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Save(@Model.PetId,'@Model.PetName','@DateTime.Today.ToString("yyyy-MM-dd")')">Guardar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="hideModalVaccine()">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="editVaccine" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="width:50%" class="modal-title">Editar Vacuna</h5>
                <div style="width:50%" class="text-right">
                    <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal" aria-label="Close" onclick="hideEditVaccine()">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="modalinput">
                    <label class="modallabel">Nro Vacuna:</label>
                    <p id="EditVaccineId"></p>
                </div>
                <div class="modalinput">
                    <label class="modallabel">Ordinal:</label>
                    <p id="EditVaccineNumber"></p>
                </div>
                <div class="modalinput" style="margin-top:1%">
                    <label class="modallabel">Fecha:</label>
                    <input id="EditVaccineDate" style="width:30%" type="date" />
                </div>
                <span id="EditVaccineDateSpan" class="modalspan"></span>
                <span id="EditGeneralSpan" style="color:red;display:none"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="editSave(@Model.PetId,'@Model.PetName','@DateTime.Today.ToString("yyyy-MM-dd")')">Guardar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="hideEditVaccine()">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".table").DataTable({
                order: [[3, "asc"]],
                "bInfo": false,
                "language": {
                    "url": "/Scripts/DataTables/spanish.json"
                }
            });
        });

        function showAddVaccine() {
            $('#createVaccine').show('slow');
        }

        function hideAddVaccine() {
            $('#createVaccine').hide('slow');
        }

        /////////////////////////////////// create Vaccine ///////////////////////////////

        function hideModalVaccine() {
            $('#modalVaccine').hide('slow');
        }

        $('#createVaccine').click(function () {
            $('#VaccineDateSpan').hide();
            $('#VaccineNumberSpan').hide();
            $('#VaccineGeneralSpan').hide();

            $('#VaccineNumber').val();
            $('#VaccineDate').val();

            $('#modalVaccine').show('slow');
        });

        function Save(petId, petName, today) {
            $('#VaccineDateSpan').hide();
            $('#VaccineNumberSpan').hide();
            $('#VaccineGeneralSpan').hide();

            var vaccinateDate = $('#VaccineDate').val();

            var validate = true;
            if (vaccinateDate > today) {
                validate = false;
                $('#VaccineDateSpan').text('La fecha de la vacuna no puede ser superior a la actual').show();
            }

            if ($('#VaccineNumber').val() < 1) {
                validate = false;
                $('#VaccineNumberSpan').text('Debe ingresar un Ordinal válido').show();
            }

            if (validate) {
                var vaccine = {
                    VaccineId: null,
                    VaccineNumber: $('#VaccineNumber').val(),
                    VaccineDate: $('#VaccineDate').val(),
                    PetId: petId,
                    Pet: null
                }

                $.ajax({
                    url: '@Url.Action("ValidateVaccine","Vaccines")',
                    type: "POST",
                    data: JSON.stringify(vaccine),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.status) {
                            $('#modalVaccine').hide('slow');

                            var newvaccine = '<tr id="Vaccine' + String(parseInt(d.position + 1)) + '" style="background-color: #dee1ea">' +
                                '<td class="text-center">' + d.vaccineId + '</td>' +
                                '<td>' + petName + '</td>' +
                                '<td class="text-center">' + $('#VaccineNumber').val() + '° Vacuna ' + '</td>' +
                                '<td class="text-center">' + String(vaccinateDate).split('-')[2] + '/' + String(vaccinateDate).split('-')[1] + '/' + String(vaccinateDate).split('-')[0] + '</td>' +
                                '<td class="text-center"><button class="btn btn-success btn-sm" title="Editar" onclick="editVaccine(\'' + d.vaccineId + '\',\'' + $('#VaccineNumber').val() + '\',\'' + vaccinateDate + '\')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;<button id="deletebutton'+ d.vaccineId +'" class="btn btn-danger btn-sm" title="Eliminar" onclick="deleteVaccine('+ d.vaccineId +')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>' +
                            '</tr>'

                            if (d.position > 1) {
                                $(newvaccine).insertAfter('#Vaccine' + d.position);
                            } else {
                                $('#Vaccinates').html(newvaccine);
                            }

                            toastr.success("Se ha agregado una Vacuna al Paciente " + petName);
                        } else {
                            $('#VaccineGeneralSpan').text(d.message).show();
                        }
                    }
                });
            }
        }

        //////////////////////////////////// edit Vaccine /////////////////////////////////

        function hideEditVaccine() {
            $('#editVaccine').hide('slow');
        }

        function editVaccine(vaccineId,vaccineNumber,vaccineDate) {
            $('#EditVaccineDateSpan').hide();

            $('#EditVaccineId').text(vaccineId);
            $('#EditVaccineNumber').text(vaccineNumber);
            $('#EditVaccineDate').val(vaccineDate);

            $('#editVaccine').show('slow');
        }

        function editSave(petId,petName,today) {
            $('#EditVaccineDateSpan').hide();

            if ($('#EditVaccineDate').val() > today) {
                $('#EditVaccineDateSpan').text('La fecha de una vacuna no puede ser mayor a la actual');
            } else {
                var vaccine = {
                    VaccineId: parseInt($('#EditVaccineId').text()),
                    VaccineNumber: parseInt($('#EditVaccineNumber').text()),
                    VaccineDate: $('#EditVaccineDate').val(),
                    PetId: petId,
                    Pet: null
                }

                $.ajax({
                    url: '@Url.Action("ValidateEditVaccine","Vaccines")',
                    type: "POST",
                    data: JSON.stringify(vaccine),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.status) {
                            $('#editVaccine').hide('slow');

                            var replace = '<tr id="Vaccine' + vaccine.VaccineNumber + '" style="background-color: #dee1ea">' +
                                '<td class="text-center">' + d.vaccineId + '</td>' +
                                '<td>' + petName + '</td>' +
                                '<td class="text-center">' + vaccine.VaccineNumber + '° Vacuna ' + '</td>' +
                                '<td class="text-center">' + String(vaccine.VaccineDate).split('-')[2] + '/' + String(vaccine.VaccineDate).split('-')[1] + '/' + String(vaccine.VaccineDate).split('-')[0] + '</td>' +
                                '<td class="text-center"><button class="btn btn-success btn-sm" title="Editar" onclick="editVaccine(\'' + d.vaccineId + '\',\'' + vaccine.VaccineNumber + '\',\'' + vaccine.VaccineDate + '\')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;<button id="deletebutton'+ d.vaccineId +'" class="btn btn-danger btn-sm" title="Eliminar" onclick="deleteVaccine('+ d.vaccineId +')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>' +
                            '</tr>'

                            $('#Vaccine' + vaccine.VaccineNumber).replaceWith(replace);

                            toastr.success("Se ha modificado la Vacuna Nro " + vaccine.VaccineNumber + " al Paciente " + petName);
                        } else {
                            $('#EditGeneralSpan').text(d.message).show();
                        }
                    }
                });
            }
        }

        function deleteVaccine(vaccineId) {
            bootbox.confirm({
                title: "Eliminar Vacuna",
                message: "¿Está seguro de eliminar la vacuna Nro " + String(vaccineId) + "?",
                buttons: {
                    confirm: {
                        label: "Eliminar",
                        className: "btn-danger"
                    },
                    cancel: {
                        label: "Cancelar",
                        className: "btn-primary"
                    }
                },
                callback: function (result) {
                    if (result) {
                        var options = {};
                        options.url = '@Url.Action("DeleteVaccine", "Vaccines")';
                        options.type = "POST";
                        options.data = { "vaccineId": vaccineId };
                        options.dataType = "json";
                        options.success = function (data) {
                            if (data) {
                                toastr.success("Notificación eliminada");
                                $('#deletebutton' + vaccineId).closest('tr').remove();
                            }
                        };
                        $.ajax(options);
                    }
                }
            });
        }
    </script>    
}