@model SistemaVeterinaria.Models.Pet

@{
    ViewBag.Title = "Detalle de Paciente";
}

<head>
    <style>
        th h5{
            font-weight: bold;
        }

        td h5{
            margin-left: 40px;
        }

        tr th:first-child{
            width:100px;
        }

        .modalspan {
            color: red;
            display: none;
            margin-left: 30%
        }

        td p:first-child{
            display:none;
        }

        .DataSection {
            width: 70%;
        }
    </style>
</head>

<div style="width: 100%;display: inline-flex">
    <div style="width: 25%">
        <a id="createVaccine" class="btn btn-success" style="margin-top: 6%; display: none">Agregar Vacuna</a>
        <a id="createClinicHistory" class="btn btn-success" style="margin-top: 6%; display: none">Agregar Historia Clínica</a>
    </div>
    <div style="width: 50%">
        <h2 class="text-center">Detalle de @Model.PetName</h2>
    </div>
    <div style="width: 25%"></div>
</div>
<hr style="color: grey;border-color: grey;margin-top:0"/>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#General" onclick="hideAddVaccine()">General</a></li>
        <li><a data-toggle="tab" href="#Vaccines" onclick="showAddVaccine()">Vacunas</a></li>
        <li><a data-toggle="tab" href="#Surgeries" onclick="hideAddVaccine()">Cirugías</a></li>
        <li><a data-toggle="tab" href="#Showers" onclick="hideAddVaccine()">Baños</a></li>
        <li><a data-toggle="tab" href="#ClinicHistory" onclick="showAddClinicHistory()">Historia Clínica</a></li>
    </ul>

    <div class="tab-content">
        <div id="General" class="tab-pane fade in active">
            <br />
            <div style="width:100%;display:inline-flex">
                <div style="width:40%">                    
                    <h4>Detalle de Paciente</h4>
                    <hr style="color: grey;border-color: grey;margin-top: 0">

                    <div style="border:outset;border-radius:10px;background-color:lightsteelblue">
                        <table style="margin-left:4%">
                            <tr>
                                <th><h5>Nro Paciente:</h5></th>
                                <td><h5>@Model.PetId</h5></td>
                            </tr>
                            <tr>
                                <th><h5>Nombre:</h5></th>
                                <td><h5>@Model.PetName</h5></td>
                            </tr>
                            <tr>
                                <th><h5>Especie:</h5></th>
                                <td>@if (Model.PetSpecie == SistemaVeterinaria.Models.Species.Canina)
                                {<h5>Canina</h5>}
                                else
                                {<h5>Felina</h5>}</td>
                            </tr>
                            <tr>
                                <th><h5>Raza:</h5></th>
                                <td><h5>@Model.PetBreed</h5></td>
                            </tr>
                            <tr>
                                <th><h5>Sexo:</h5></th>
                                <td>@if (Model.PetSex)
                                { <h5>Macho</h5> }
                                else
                                { <h5>Hembra</h5> }</td>
                            </tr>
                            <tr>
                                <th><h5>Nacimiento:</h5></th>
                                <td><h5>@Model.PetBirthday.ToString("D")</h5></td>
                            </tr>
                            <tr>
                                <th><h5>Edad:</h5></th>
                                <td><h5>@ViewBag.Age</h5></td>
                            </tr>
                            <tr>
                                <th><h5>Color:</h5></th>
                                <td><h5>@Model.PetColor</h5></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div style="width:40%;margin-left:10%">
                    <h4>Detalle de Dueño</h4>
                    <hr style="color: grey;border-color: grey;margin-top: 0" />

                    <div style="border:outset;border-radius:10px;background-color:lightsteelblue">
                        <table style="margin-left:4%">
                            <tr>
                                <th><h5>Nro Dueño:</h5></th>
                                <td><h5>@Model.OwnerId</h5></td>
                            </tr>
                            <tr>
                                <th><h5>Nombre:</h5></th>
                                <td><h5>@Model.Owner.OwnerName</h5></td>
                            </tr>
                            <tr>
                                <th><h5>Apellido:</h5></th>
                                <td><h5>@Model.Owner.OwnerLastName</h5></td>
                            </tr>
                            <tr>
                                <th><h5>Domicilio:</h5></th>
                                <td><h5>@Model.Owner.OwnerAddress</h5></td>
                            </tr>
                            <tr>
                                <th><h5>Teléfono:</h5></th>
                                <td><h5>@Model.Owner.OwnerPhone</h5></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="Vaccines" class="tab-pane fade">
            <br />
            <table class="table table-bordered tables table-condensed">
                <thead>
                    <tr>
                        <th class="text-center">Nro</th>
                        <th>Paciente</th>
                        <th class="text-center">Ordinal</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Realizada</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody id="Vaccinates">
                    @foreach (var item in Model.Vaccinations.ToList().Where(v => v.VaccineDate <= DateTime.Today).OrderBy(v => v.VaccineNumber))
                    {
                    <tr id="@("Vaccine" + item.VaccineNumber)">
                        <td class="text-center">@item.VaccineId</td>
                        <td>@item.Pet.PetName</td>
                        <td class="text-center">@item.VaccineNumber° Vacuna</td>
                        <td class="text-center">
                            <p>@item.VaccineDate.ToString("yyyy/MM/dd")</p>
                            <p>@item.VaccineDate.ToString("D")</p>
                        </td>
                        @if (item.Done)
                        {
                            <td class="text-center" style="color: forestgreen">Si</td>
                        }
                        else
                        {
                            <td class="text-center" style="color: red">No</td>
                        }
                        <td class="text-center" style="width:13%">
                            <button class="btn btn-success btn-sm" title="Editar" onclick="editVaccine(@item.VaccineId,@item.VaccineNumber,'@item.VaccineDate.ToString("yyyy-MM-dd")')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                            <button id="@("deletebutton" + item.VaccineId)" class="btn btn-danger btn-sm" title="Eliminar" onclick="deleteVaccine(@item.VaccineId)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="Surgeries" class="tab-pane fade">
            <br />
            <table class="table table-bordered tables table-condensed">
                <thead>
                    <tr>
                        <th class="text-center">Nro</th>
                        <th>Paciente</th>
                        <th class="text-center">Cirugía</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Surgeries.Where(s => s.SurgeryDate <= DateTime.Today))
                    {
                        <tr>
                            <td class="text-center">@item.SurgeryId</td>
                            <td>@item.Pet.PetName</td>
                            <td class="text-center">@item.SurgeryType.SurgeryTypeName</td>
                            <td class="text-center">
                                @item.SurgeryDate.ToString("D")
                            </td>
                            <td class="text-center" style="width: 15%"><button id="@("deletesurgery" + item.SurgeryId)" class="btn btn-danger btn-sm" title="Eliminar" onclick="deleteSurgery(@item.SurgeryId)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="Showers" class="tab-pane fade">
            <br />
            <table class="table table-bordered tables table-condensed">
                <thead>
                <tr>
                    <th class="text-center">Nro</th>
                    <th>Paciente</th>
                    <th class="text-center">Turno</th>
                    <th class="text-center">Fecha</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in ViewBag.Showers)
                {
                    <tr>
                        <td class="text-center">@item.ShowerId</td>
                        <td>@item.PetName</td>                            
                        <td class="text-center">@if (item.ShowerTurn)
                                                {<p>Mañana</p>}
                                                else
                                                {<p>Tarde</p>}</td>
                        <td class="text-center">
                            @item.ShowerDate.ToString("D")
                        </td>
                        <td class="text-center" style="width: 15%">
                            <button id="@("deleteshower" + item.ShowerId)" class="btn btn-danger btn-sm" title="Eliminar" onclick="deleteShower(@item.ShowerId)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div id="ClinicHistory" class="tab-pane fade">
            <br />
            <table id="ClinicTable" class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th class="text-center">Nro</th>
                    <th class="text-center">Datos</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody id="ClinicHistories">
                @foreach (var item in Model.ClinicHistories)
                {
                    <tr id="@("CHistory" + item.ClinicHistoryId)">
                        <td id="@("CHNumber" + item.ClinicHistoryId)" class="text-center" style="vertical-align: middle">@item.ClinicHistoryNumber</td>
                        <td id="@("CHData" + item.ClinicHistoryId)" class="text-justify DataSection">@item.ClinicHistoryData</td>
                        <td class="text-center">
                            <button id="@("editCH" + item.ClinicHistoryId)" class="btn btn-success btn-sm" onclick="editClinicHistory(@item.ClinicHistoryId)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                            <button class="btn btn-danger btn-sm" onclick="deleteClinicHistory(@item.ClinicHistoryId)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="modalVaccine" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="width:50%" class="modal-title">Agregar Vacuna</h5>
                <div style="width:50%" class="text-right">
                    <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal" aria-label="Close" onclick="hideModalVaccine()">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="modalinput">
                    <label class="modallabel">Ordinal:</label>
                    <input id="VaccineNumber" type="number" min="1" max="30" style="width:30%" />
                </div>
                <span id="VaccineNumberSpan" class="modalspan"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="modallabel">Fecha:</label>
                    <input id="VaccineDate" style="width:30%" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                </div>
                <span id="VaccineDateSpan" class="modalspan"></span>
                <div class="text-center" style="margin-top: 2%; margin-bottom: 0">
                    <span id="VaccineGeneralSpan" style="color:red;display:none"></span>
                </div>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Save(@Model.PetId,'@Model.PetName','@DateTime.Today.ToString("yyyy-MM-dd")')">Guardar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="hideModalVaccine()">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="editVaccine" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="width:50%" class="modal-title">Editar Vacuna</h5>
                <div style="width:50%" class="text-right">
                    <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal" aria-label="Close" onclick="hideEditVaccine()">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="modalinput">
                    <label class="modallabel">Nro Vacuna:</label>
                    <p id="EditVaccineId"></p>
                </div>
                <div class="modalinput">
                    <label class="modallabel">Ordinal:</label>
                    <p id="EditVaccineNumber"></p>
                </div>
                <div class="modalinput" style="margin-top:1%">
                    <label class="modallabel">Fecha:</label>
                    <input id="EditVaccineDate" style="width:30%" type="date" />
                </div>
                <span id="EditVaccineDateSpan" class="modalspan"></span>
                <span id="EditGeneralSpan" style="color:red;display:none"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="editSave(@Model.PetId,'@Model.PetName','@DateTime.Today.ToString("yyyy-MM-dd")')">Guardar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="hideEditVaccine()">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalClinicHistory" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="width:50%" class="modal-title">Agregar Historia Clínica</h5>
                <div style="width:50%" class="text-right">
                    <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal" aria-label="Close" onclick="CancelClinicHistory()">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <input id="ClinicHistoryId" type="number" style="display: none"/>
            <div class="modal-body">
                <textarea id="ClinicHistoryData" type="text" style="max-width: 100%!important; width: 100% !important;height: 140px" onFocus="this.select()" placeholder="Escriba aquí..."></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="SaveClinicHistory(@Model.PetId)">Guardar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="CancelClinicHistory()">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".tables").DataTable({
                order: [[3, "asc"]],
                "bInfo": false,
                "language": {
                    "url": "/Scripts/DataTables/spanish.json"
                }
            });

            $('#ClinicTable').DataTable({
                order: [[0, "desc"]],
                "language": {
                    "url": "/Scripts/DataTables/spanish.json"
                }
            });
        });

        function showAddVaccine() {
            $('#createVaccine').show('slow');
            $('#createClinicHistory').hide('slow');
        }

        function hideAddVaccine() {
            $('#createVaccine').hide('slow');
            $('#createClinicHistory').hide('slow');
        }

        function showAddClinicHistory() {
            $('#createVaccine').hide('slow');
            $('#createClinicHistory').show('slow');
        }

        /////////////////////////////////// create Vaccine ///////////////////////////////

        function hideModalVaccine() {
            $('#modalVaccine').hide('slow');
        }

        $('#createVaccine').click(function () {
            $('#VaccineDateSpan').hide();
            $('#VaccineNumberSpan').hide();
            $('#VaccineGeneralSpan').hide();

            $('#VaccineNumber').val();
            $('#VaccineDate').val();

            $('#modalVaccine').show('slow');
        });

        function Save(petId, petName, today) {
            $('#VaccineDateSpan').hide();
            $('#VaccineNumberSpan').hide();
            $('#VaccineGeneralSpan').hide();

            var vaccinateDate = $('#VaccineDate').val();

            var validate = true;
            if (vaccinateDate > today) {
                validate = false;
                $('#VaccineDateSpan').text('La fecha de la vacuna no puede ser superior a la actual').show();
            }

            if ($('#VaccineNumber').val() < 1) {
                validate = false;
                $('#VaccineNumberSpan').text('Debe ingresar un Ordinal válido').show();
            }

            if (validate) {
                var vaccine = {
                    VaccineId: null,
                    VaccineNumber: $('#VaccineNumber').val(),
                    VaccineDate: $('#VaccineDate').val(),
                    PetId: petId,
                    Pet: null
                }

                $.ajax({
                    url: '@Url.Action("ValidateVaccine","Vaccines")',
                    type: "POST",
                    data: JSON.stringify(vaccine),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.status) {
                            $('#modalVaccine').hide('slow');

                            var newvaccine = '<tr id="Vaccine' + String(parseInt(d.position + 1)) + '" style="background-color: #dee1ea">' +
                                '<td class="text-center">' + d.vaccineId + '</td>' +
                                '<td>' + petName + '</td>' +
                                '<td class="text-center">' + $('#VaccineNumber').val() + '° Vacuna ' + '</td>' +
                                '<td class="text-center">' + d.dateTitle + '</td>' +
                                '<td class="text-center"><button class="btn btn-success btn-sm" title="Editar" onclick="editVaccine(\'' + d.vaccineId + '\',\'' + $('#VaccineNumber').val() + '\',\'' + vaccinateDate + '\')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;<button id="deletebutton'+ d.vaccineId +'" class="btn btn-danger btn-sm" title="Eliminar" onclick="deleteVaccine('+ d.vaccineId +')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>' +
                            '</tr>';

                            if (d.position > 1) {
                                $(newvaccine).insertAfter('#Vaccine' + d.position);
                            } else {
                                $('#Vaccinates').html(newvaccine);
                            }

                            toastr.success("Se ha agregado una Vacuna al Paciente " + petName);
                        } else {
                            $('#VaccineGeneralSpan').text(d.message).show();
                        }
                    }
                });
            }
        }

        //////////////////////////////////// edit Vaccine /////////////////////////////////

        function hideEditVaccine() {
            $('#editVaccine').hide('slow');
        }

        function editVaccine(vaccineId,vaccineNumber,vaccineDate) {
            $('#EditVaccineDateSpan').hide();

            $('#EditVaccineId').text(vaccineId);
            $('#EditVaccineNumber').text(vaccineNumber);
            $('#EditVaccineDate').val(vaccineDate);

            $('#editVaccine').show('slow');
        }

        function editSave(petId,petName,today) {
            $('#EditVaccineDateSpan').hide();

            if ($('#EditVaccineDate').val() > today) {
                $('#EditVaccineDateSpan').text('La fecha de una vacuna no puede ser mayor a la actual');
            } else {
                var vaccine = {
                    VaccineId: parseInt($('#EditVaccineId').text()),
                    VaccineNumber: parseInt($('#EditVaccineNumber').text()),
                    VaccineDate: $('#EditVaccineDate').val(),
                    PetId: petId,
                    Pet: null
                }

                $.ajax({
                    url: '@Url.Action("ValidateEditVaccine","Vaccines")',
                    type: "POST",
                    data: JSON.stringify(vaccine),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.status) {
                            $('#editVaccine').hide('slow');

                            var replace = '<tr id="Vaccine' + vaccine.VaccineNumber + '" style="background-color: #dee1ea">' +
                                '<td class="text-center">' + d.vaccineId + '</td>' +
                                '<td>' + petName + '</td>' +
                                '<td class="text-center">' + vaccine.VaccineNumber + '° Vacuna ' + '</td>' +
                                '<td class="text-center">' + d.dateTitle + '</td>' +
                                '<td class="text-center">' + d.done + '</td>' +
                                '<td class="text-center"><button class="btn btn-success btn-sm" title="Editar" onclick="editVaccine(\'' + d.vaccineId + '\',\'' + vaccine.VaccineNumber + '\',\'' + vaccine.VaccineDate + '\')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;<button id="deletebutton'+ d.vaccineId +'" class="btn btn-danger btn-sm" title="Eliminar" onclick="deleteVaccine('+ d.vaccineId +')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>' +
                            '</tr>';

                            $('#Vaccine' + vaccine.VaccineNumber).replaceWith(replace);

                            toastr.success("Se ha modificado la Vacuna Nro " + vaccine.VaccineNumber + " al Paciente " + petName);
                        } else {
                            $('#EditGeneralSpan').text(d.message).show();
                        }
                    }
                });
            }
        }

        function deleteVaccine(vaccineId) {
            bootbox.confirm({
                title: "Eliminar Vacuna",
                message: "¿Está seguro de eliminar la vacuna Nro " + String(vaccineId) + "?",
                buttons: {
                    confirm: {
                        label: "Eliminar",
                        className: "btn-danger"
                    },
                    cancel: {
                        label: "Cancelar",
                        className: "btn-primary"
                    }
                },
                callback: function (result) {
                    if (result) {
                        var options = {};
                        options.url = '@Url.Action("DeleteVaccine", "Vaccines")';
                        options.type = "POST";
                        options.data = { "vaccineId": vaccineId };
                        options.dataType = "json";
                        options.success = function (data) {
                            if (data) {
                                toastr.success("Vacuna eliminada");
                                $('#deletebutton' + vaccineId).closest('tr').remove();
                            }
                        };
                        $.ajax(options);
                    }
                }
            });
        }

        //////////////////////////////////////// Surgeries /////////////////////////////////////////

        function deleteSurgery(surgeryId) {
            bootbox.confirm({
                title: "Eliminar Cirugía",
                message: "¿Está seguro de eliminar la cirugía Nro " + String(surgeryId) + "?",
                buttons: {
                    confirm: {
                        label: "Eliminar",
                        className: "btn-danger"
                    },
                    cancel: {
                        label: "Cancelar",
                        className: "btn-primary"
                    }
                },
                callback: function (result) {
                    if (result) {
                        var options = {};
                        options.url = '@Url.Action("DeleteSurgery", "Surgeries")';
                        options.type = "POST";
                        options.data = { "surgeryId": surgeryId };
                        options.dataType = "json";
                        options.success = function (data) {
                            if (data) {
                                toastr.success("Cirugía eliminada");
                                $('#deletesurgery' + surgeryId).closest('tr').remove();
                            }
                        };
                        $.ajax(options);
                    }
                }
            });
        }

        //////////////////////////////////////////// Showers //////////////////////////////////////////

        function deleteShower(showerId) {
            bootbox.confirm({
                title: "Eliminar Baño",
                message: "¿Está seguro de eliminar el baño Nro " + String(showerId) + "?",
                buttons: {
                    confirm: {
                        label: "Eliminar",
                        className: "btn-danger"
                    },
                    cancel: {
                        label: "Cancelar",
                        className: "btn-primary"
                    }
                },
                callback: function (result) {
                    if (result) {
                        var options = {};
                        options.url = '@Url.Action("DeleteShower", "Showers")';
                        options.type = "POST";
                        options.data = { "showerId": showerId };
                        options.dataType = "json";
                        options.success = function (data) {
                            if (data) {
                                toastr.success("Baño eliminado");
                                $('#deleteshower' + showerId).closest('tr').remove();
                            }
                        };
                        $.ajax(options);
                    }
                }
            });
        }

        /////////////////////////////////////// Clinic Histories ///////////////////////////////////////////

        $('#createClinicHistory').click(function () {
            $('#ClinicHistoryId').val(0);
            $('#ClinicHistoryData').val('');

            $('#modalClinicHistory').show('slow');
        });

        function CancelClinicHistory() {
            $('#modalClinicHistory').hide('slow');
        }

        function SaveClinicHistory(petId) {
            if ($('#ClinicHistoryData').val().trim() == '') {
                $('#modalClinicHistory').hide('slow');
            } else {
                $('#modalClinicHistory').hide('slow');

                var clinickHistory = {
                    ClinicHistoryId: $('#ClinicHistoryId').val(),
                    ClinicHistoryNumber: 0,
                    ClinicHistoryData: $('#ClinicHistoryData').val().trim(),
                    PetId: petId,
                    Pet: null
                }

                if (clinickHistory.ClinicHistoryId == 0) {
                    $.ajax({
                        url: '@Url.Action("CreateClinicHistory","Pets")',
                        type: "POST",
                        data: JSON.stringify(clinickHistory),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function(d) {
                            if (d.status) {
                                var row = '<tr id="CHistory' + d.clinicHistoryId + '" style="background-color: #dee1ea">' +
                                    '<td id="CHNumber'+ d.clinicHistoryId +'" class="text-center" style="vertical-align: middle">' + d.clinicHistoryNumber + '</td>' +
                                    '<td id="CHData' + d.clinicHistoryId + '" class="text-justify DataSection">' + clinickHistory.ClinicHistoryData + '</td>' +
                                    '<td class="text-center"><button id="editCH'+ d.clinicHistoryId +'" class="btn btn-success btn-sm" onclick="editClinicHistory('+ d.clinicHistoryId +')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;<button class="btn btn-danger btn-sm" onclick="deleteClinicHistory('+ d.clinicHistoryId +')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>' +
                                    '</tr>';

                                $('#ClinicHistories').prepend(row);
                                toastr.success('Se ha agregado una nueva Historia Clínica');
                            }
                        }
                    });
                } else {
                    $.ajax({
                        url: '@Url.Action("EditClinicHistory","Pets")',
                        type: "POST",
                        data: JSON.stringify(clinickHistory),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function (d) {
                            if (d.status) {

                                $('#CHData' + d.clinicHistoryId).html(clinickHistory.ClinicHistoryData);
                                $('#CHistory' + clinickHistory.ClinicHistoryId).css("background-color", "#dee1ea");

                                toastr.success('Se ha modificado una nueva Historia Clínica');
                            }
                        }
                    });
                }
            }
        }

        function editClinicHistory(clinicHistoryId) {
            $('#ClinicHistoryId').val(clinicHistoryId);
            $('#ClinicHistoryData').val($('#CHData' + clinicHistoryId).text().trim());

            $('#modalClinicHistory').show('slow');
        }

        function deleteClinicHistory(clinicHistoryId) {
            bootbox.confirm({
                title: "Eliminar Historia Clínica",
                message: "¿Está seguro de eliminar la Historia Clínica Nro " + $('#CHNumber' + clinicHistoryId).html() + "?",
                buttons: {
                    confirm: {
                        label: "Eliminar",
                        className: "btn-danger"
                    },
                    cancel: {
                        label: "Cancelar",
                        className: "btn-primary"
                    }
                },
                callback: function (result) {
                    if (result) {
                        var options = {};
                        options.url = '@Url.Action("DeleteClinicHistory", "Pets")';
                        options.type = "POST";
                        options.data = { "clinicHistoryId": clinicHistoryId };
                        options.dataType = "json";
                        options.success = function (data) {
                            if (data) {
                                toastr.success("Historia Clínica eliminada");
                                $('#CHistory' + clinicHistoryId).remove();
                            }
                        };
                        $.ajax(options);
                    }
                }
            });
        }
    </script>    
}