@model IEnumerable<SistemaVeterinaria.Models.Surgery>

@{
    ViewBag.Title = "Index";
}

<head>
    <style>
        #SurgeryTypesTable_wrapper{
            margin-top:0;
        }

        .without-borders{
            background-color: transparent;            
            border: none;
        }

        td input {
            width: 100%;
        }

        td text:first-child {
            display: none;
        }

        .mylabel {
            margin-left: 10%;
            width: 26%;
        }

        .hrmodal{
            margin-top: 3%;
            margin-bottom: 1%;
        }
    </style>
</head>
<div style="width: 100%;display: inline-flex">
    <div style="width: 25%"><a id="createSurgery" class="btn btn-success" style="margin-top: 6%">Agregar Notificación</a></div>
    <div style="width: 50%">
        <h2 class="text-center">Notificaciones de Cirugías</h2>
    </div>
    <div class="text-right" style="width: 25%"><a id="openSurgeryTypes" class="btn btn-primary" style="margin-top: 6%">Cirugías</a></div>
</div>
<hr style="color: grey;border-color: grey;margin-top: 0"/>
<table id="table" class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">
                Nro
            </th>
            <th>
                Paciente
            </th>
            <th class="text-center">
                Especie
            </th>
            <th class="text-center">
                Sexo
            </th>
            <th class="text-center">
                Dueño
            </th>
            <th class="text-center">
                Cirugía
            </th>
            <th class="text-center">
                Fecha
            </th>
            <th class="text-center">
                Opciones
            </th>
        </tr>
    </thead>

<tbody id="Surgeries">
    @foreach (var item in Model)
    {
        <tr id="@("Surgery" + item.SurgeryId)">
            <td id="@("SurgeryId" + item.SurgeryId)" class="text-center">
                @item.SurgeryId
            </td>
            <td id="@("SurgeryPet" + item.SurgeryId)">
                @Html.DisplayFor(modelItem => item.Pet.PetName)
            </td>
            <td id="@("SurgeryPetSpecie" + item.SurgeryId)" class="text-center">
                @if (item.Pet.PetSpecie == SistemaVeterinaria.Models.Species.Perro)
                {
                    <text>Perro</text>
                }
                else
                {
                    <text>Gato</text>
                }
            </td>
            <td id="@("SurgeryPetSex" + item.SurgeryId)" class="text-center">
                @if (item.Pet.PetSex)
                {
                    <text>Macho</text>
                }
                else
                {
                    <text>Hembra</text>
                }
            </td>
            <td id="@("SurgeryPetOwner" + item.SurgeryId)" class="text-center">
                @item.Pet.Owner.OwnerFullName
            </td>
            <td id="@("SurgeryType" + item.SurgeryId)" class="text-center">
                @Html.DisplayFor(modelItem => item.SurgeryType.SurgeryTypeName)
            </td>
            <td id="@("SurgeryDate" + item.SurgeryId)" class="text-center" data-toggle="tooltip" title="@item.SurgeryDate.ToString("D")">
                <text>@item.SurgeryDate.ToString("yyyy/MM/dd")</text>
                <text>@item.SurgeryDate.ToString("D")</text>
            </td>
            <td id="@("SurgeryButtons" + item.SurgeryId)" class="text-center">
                @if (item.SurgeryPatientFrequent)
                {
                    <button class="btn btn-primary btn-sm" title="Editar" onclick="editSurgery(@item.SurgeryId,@item.PetId,@item.SurgeryTypeId,'@item.SurgeryDate.ToString("yyyy-MM-dd")')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                }
                else
                {
                    <button class="btn btn-primary btn-sm" title="Editar" onclick="editOccasionalSurgery(@item.SurgeryId,'@item.SurgeryDate.ToString("yyyy-MM-dd")',@item.SurgeryTypeId,'@item.Pet.PetBirthday.ToString("yyyy-MM-dd")',@item.Pet.Owner.OwnerPhone)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                }
                <button class="btn btn-danger btn-sm" title="Eliminar" onclick="deleteSurgery(@item.SurgeryId)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
            </td>
        </tr>
    }
</tbody>
</table>

<div id="modalSelectSurgery" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="width:50%" class="modal-title">Seleccionar tipo de Paciente</h5>
                <div style="width:50%" class="text-right">
                    <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal" aria-label="Close" id="closeSelectSurgery">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <h4 class="text-center">¿Qué tipo de Paciente recibirá la cirugía?</h4>
                <div style="width:100%;display:inline-flex;margin-top:3%;margin-bottom:3%">
                    <div class="text-center" style="width:50%">
                        <button id="FrequentPatient" class="btn btn-primary">Paciente Frecuente</button>
                    </div>
                    <div class="text-center" style="width:50%">
                        <button id="OccasionalPatient" class="btn btn-primary">Paciente Ocasional</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalSurgery" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div style="width:20%"></div>
                <h4 style="width:60%" class="modal-title text-center">Agregar Notificación de Cirugía</h4>
                <div style="width:20%" class="text-right">
                    <button type="button" class="btn btn-danger btn-xs modalClose" data-dismiss="modal" aria-label="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="modalinput">
                    <label class="modallabel">Fecha:</label>
                    <input id="SurgeryDate" type="date" style="width:30%" />
                </div>
                <span id="SurgeryDateSpan" style="color:red;display:none;margin-left:30%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="modallabel">Paciente:</label>
                    <select id="SurgeryPet" class="SurgeryPetSelect" style="width:60%">
                        @foreach (var item in ViewBag.Pets)
                        {
                            <option value="@item.PetId">@item.PetName (@item.PetSpecie) - @item.Owner.OwnerFullName</option>
                        }
                    </select>
                </div>
                <span id="SurgeryPetSpan" style="color:red;display:none;margin-left:30%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="modallabel">Cirugía:</label>
                    <select id="SurgeryTypeSelect" class="SurgeryTypeSelect" style="width:60%">
                        @foreach (var item in ViewBag.SurgeryTypes)
                        {
                            <option value="@item.SurgeryTypeId">@item.SurgeryTypeName</option>
                        }
                    </select>
                </div>
                <span id="SurgeryTypeSelectSpan" style="color:red;display:none;margin-left:30%"></span>
            </div>
            <div class="modal-footer">
                <button id="Save" type="button" class="btn btn-success">Guardar</button>
                <button id="Cancel" type="button" class="btn btn-primary modalClose" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalOccasionalSurgery" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="width:50%" class="modal-title">Agregar Notificación de Cirugía</h5>
                <div style="width:50%" class="text-right">
                    <button type="button" class="btn btn-danger btn-xs occasionalClose" data-dismiss="modal" aria-label="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="modalinput">
                    <label class="modallabel">Fecha:</label>
                    <input id="OccasionalSurgeryDate" style="width:30%" type="date" />
                </div>
                <span id="OccasionalSurgeryDateSpan" style="color:red;display:none;margin-left:30%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="modallabel">Cirugía:</label>
                    <select id="OccasionalSurgeryTypeSelect" class="SurgeryTypeSelect" style="width:60%">
                        @foreach (var item in ViewBag.SurgeryTypes)
                        {
                            <option value="@item.SurgeryTypeId">@item.SurgeryTypeName</option>
                        }
                    </select>
                </div>
                <span id="OccasionalSurgeryTypeSelectSpan" style="color:red;display:none;margin-left:30%"></span>
                <hr class="hrmodal" />
                <h4 class="text-center" style="background-color:lightgray">Datos del Dueño</h4>
                <div class="modalinput" style="margin-top:2%">
                    <label class="mylabel">Nombre:</label>
                    <input id="OccasionalOwnerName" type="text" />
                </div>
                <span id="OccasionalOwnerNameSpan" style="color:red;display:none;margin-left:36%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="mylabel">Apellido:</label>
                    <input id="OccasionalOwnerLastName" type="text" />
                </div>
                <span id="OccasionalOwnerLastNameSpan" style="color:red;display:none;margin-left:36%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="mylabel">Teléfono:</label>
                    <input id="OccasionalOwnerPhone" type="text" placeholder="(opcional)" />
                </div>
                <hr class="hrmodal" />
                <h4 class="text-center" style="background-color:lightgray">Datos del Paciente</h4>
                <div class="modalinput" style="margin-top:2%">
                    <label class="mylabel">Nombre Paciente:</label>
                    <input id="OccasionalPatientName" type="text" />
                </div>
                <span id="OccasionalPatientNameSpan" style="color:red;display:none;margin-left:36%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="mylabel">Nacimiento:</label>
                    <input id="OccasionalPatientBirthday" type="date" />
                </div>
                <span id="OccasionalPatientBirthdaySpan" style="color:red;display:none;margin-left:36%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="mylabel">Especie:</label>
                    <label style="width:18%">
                        <input id="OccasionalPetDogSpecie" name="OccasionalPetSpecie" type="radio" checked="checked" />
                        Perro
                    </label>
                    <label>
                        <input id="OccasionalPetCatSpecie" name="OccasionalPetSpecie" type="radio" />
                        Gato
                    </label>
                </div>
                <div class="modalinput" style="margin-top:1%">
                    <label class="mylabel">Sexo:</label>
                    <label style="width:18%">
                        <input id="OccasionalPetFemaleSex" name="OccasionalPetSex" type="radio" checked="checked" />
                        Hembra
                    </label>
                    <label>
                        <input id="OccasionalPetMaleSex" name="OccasionalPetSex" type="radio" />
                        Macho
                    </label>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 0">
                <button id="OccasionalSave" type="button" class="btn btn-success">Guardar</button>
                <button id="OccasionalCancel" type="button" class="btn btn-primary occasionalClose" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="editSurgery" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div style="width:20%"></div>
                <h4 style="width:60%" class="modal-title text-center">Editar Notificación de Cirugía</h4>
                <div style="width:20%" class="text-right">
                    <button type="button" class="btn btn-danger btn-xs editClose" data-dismiss="modal" aria-label="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="modalinput">
                    <label class="modallabel">Nro Cirugía:</label>
                    <p id="EditSurgeryId"></p>
                </div>
                <div class="modalinput">
                    <label class="modallabel">Fecha:</label>
                    <input id="EditSurgeryDate" type="date" style="width:30%" />
                </div>
                <span id="EditSurgeryDateSpan" style="color:red;display:none;margin-left:30%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="modallabel">Paciente:</label>
                    <select id="EditSurgeryPet" class="SurgeryPetSelect" style="width:60%">
                        @foreach (var item in ViewBag.Pets)
                        {
                            <option value="@item.PetId">@item.PetName (@item.PetSpecie) - @item.Owner.OwnerFullName</option>
                        }
                    </select>
                </div>
                <span id="EditSurgeryPetSpan" style="color:red;display:none;margin-left:30%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="modallabel">Cirugía:</label>
                    <select id="EditSurgeryTypeSelect" class="SurgeryTypeSelect" style="width:60%">
                        @foreach (var item in ViewBag.SurgeryTypes)
                        {
                            <option id="@("edopt" + item.SurgeryTypeId)" value="@item.SurgeryTypeId">@item.SurgeryTypeName</option>
                        }
                    </select>
                </div>
                <span id="EditSurgeryTypeSelectSpan" style="color:red;display:none;margin-left:30%"></span>
            </div>
            <div class="modal-footer">
                <button id="EditSave" type="button" class="btn btn-success">Guardar</button>
                <button id="EditCancel" type="button" class="btn btn-primary editClose" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="editOccasionalSurgery" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="margin-top: -2%">
            <div class="modal-header">
                <h5 style="width:50%" class="modal-title">Editar Notificación de Cirugía</h5>
                <div style="width:50%" class="text-right">
                    <button type="button" class="btn btn-danger btn-xs editOccasionalClose" data-dismiss="modal" aria-label="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="modalinput">
                    <label class="modallabel">Nro Cirugía:</label>
                    <p id="OccasionalSurgeryId"></p>
                </div>
                <div class="modalinput">
                    <label class="modallabel">Fecha:</label>
                    <input id="EditOccasionalSurgeryDate" style="width:30%" type="date" />
                </div>
                <span id="EditOccasionalSurgeryDateSpan" style="color:red;display:none;margin-left:30%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="modallabel">Cirugía:</label>
                    <select id="EditOccasionalSurgeryTypeSelect" class="SurgeryTypeSelect" style="width:60%">
                        @foreach (var item in ViewBag.SurgeryTypes)
                        {
                            <option value="@item.SurgeryTypeId">@item.SurgeryTypeName</option>
                        }
                    </select>
                </div>
                <span id="EditOccasionalSurgeryTypeSelectSpan" style="color:red;display:none;margin-left:30%"></span>
                <hr class="hrmodal" />
                <h4 class="text-center" style="background-color:lightgray">Datos del Dueño</h4>
                <div class="modalinput" style="margin-top:2%">
                    <label class="mylabel">Nombre:</label>
                    <input id="EditOccasionalOwnerName" type="text" />
                </div>
                <span id="EditOccasionalOwnerNameSpan" style="color:red;display:none;margin-left:36%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="mylabel">Apellido:</label>
                    <input id="EditOccasionalOwnerLastName" type="text" />
                </div>
                <span id="EditOccasionalOwnerLastNameSpan" style="color:red;display:none;margin-left:36%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="mylabel">Teléfono:</label>
                    <input id="EditOccasionalOwnerPhone" type="text" placeholder="(opcional)" />
                </div>
                <hr class="hrmodal" />
                <h4 class="text-center" style="background-color:lightgray">Datos del Paciente</h4>
                <div class="modalinput" style="margin-top:2%">
                    <label class="mylabel">Nombre Paciente:</label>
                    <input id="EditOccasionalPatientName" type="text" />
                </div>
                <span id="EditOccasionalPatientNameSpan" style="color:red;display:none;margin-left:36%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="mylabel">Nacimiento:</label>
                    <input id="EditOccasionalPatientBirthday" type="date" />
                </div>
                <span id="EditOccasionalPatientBirthdaySpan" style="color:red;display:none;margin-left:36%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="mylabel">Especie:</label>
                    <label style="width:18%">
                        <input id="EditOccasionalPetDogSpecie" name="OccasionalPetSpecie" type="radio" checked="checked" />
                        Perro
                    </label>
                    <label>
                        <input id="EditOccasionalPetCatSpecie" name="OccasionalPetSpecie" type="radio" />
                        Gato
                    </label>
                </div>
                <div class="modalinput" style="margin-top:1%">
                    <label class="mylabel">Sexo:</label>
                    <label style="width:18%">
                        <input id="EditOccasionalPetFemaleSex" name="OccasionalPetSex" type="radio" checked="checked" />
                        Hembra
                    </label>
                    <label>
                        <input id="EditOccasionalPetMaleSex" name="OccasionalPetSex" type="radio" />
                        Macho
                    </label>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 0">
                <button id="EditOccasionalSave" type="button" class="btn btn-success">Guardar</button>
                <button id="EditOccasionalCancel" type="button" class="btn btn-primary editOccasionalClose" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalSurgeryTypes" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div style="width:33%"></div>
                <h4 style="width:34%" class="modal-title text-center">Cirugías</h4>
                <div style="width:33%" class="text-right">
                    <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal" aria-label="Close" id="CancelSurgeryTypes">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <button id="addSurgeryType" class="btn btn-success btn-sm">Agregar Cirugía</button>
                <table id="SurgeryTypesTable" class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:13%">Nro</th>
                            <th style="width:300px">Cirugía</th>
                            <th class="text-center">Opciones</th>
                        </tr>
                    </thead>
                    <tbody id="SurgeryTypes">
                        @foreach (var item in ViewBag.SurgeryTypes)
                        {
                            <tr id="@("SurgeryTypeModal" + item.SurgeryTypeId)">
                                <td class="text-center">@item.SurgeryTypeId</td>
                                <td><input id="@("SurgeryName" + item.SurgeryTypeId)" type="text" value="@item.SurgeryTypeName" class="without-borders" disabled="disabled" placeholder="Ingrese nombre de cirugía"/></td>
                                <td id="@("SurgeryTypeButtons" + item.SurgeryTypeId)" class="text-center">
                                    <button class="btn btn-primary btn-xs" title="Editar" onclick="editSurgeryType(@item.SurgeryTypeId)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                                    <button class="btn btn-danger btn-xs" title="Eliminar" onclick="deleteSurgeryType(@item.SurgeryTypeId)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <input id="currentId" type="number" style="display:none" value="@ViewBag.LastSurgeryTypeId" />
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                order: [[3, "asc"]],
                "language": {
                    "url": "/Scripts/DataTables/spanish.json"
                }
            });

            $('#SurgeryTypesTable').DataTable({
                "bInfo": false,
                "bLengthChange": false,
                "lengthMenu": [[5], [5]],
                "language": {
                    "url": "/Scripts/DataTables/spanish.json"
                }
            });
        });

        ///////////////////////////////////// SurgeryType /////////////////////////////////////

        $('.SurgeryPetSelect').select2({
            allowClear: true,
            placeholder: "Seleccione un Paciente...",
        });

        $('.SurgeryTypeSelect').select2({
            allowClear: true,
            placeholder: "Seleccione una Cirugía...",
        });

        $('#openSurgeryTypes').click(function () {
            $('#modalSurgeryTypes').show('slow');
        });

        $('#CancelSurgeryTypes').click(function () {
            $('#addSurgeryType').removeClass('open');
            $('#modalSurgeryTypes').hide('slow');
        });

        $('#addSurgeryType').click(function () {
            if (!$('#addSurgeryType').hasClass('open')) {
                $('#addSurgeryType').addClass('open');

                var futureId = parseInt($('#currentId').val()) + 1;
                var row = '<tr id="SurgeryTypeModal' + futureId + '">';
                row += '<td id="SurgeryTypeId' + futureId + '" class="text-center">' + String(futureId) + '</td>';
                row += '<td id="SurgeryTypeName' + futureId + '"><input id="SurgeryName' + futureId + '" type="text" placeholder="Ingrese nombre de cirugía"/></td>';
                row += '<td id="SurgeryTypeButtons' + futureId + '" class="text-center"><button class="btn btn-success btn-xs" title="Agregar" onclick="addConfirm()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>&nbsp;<button class="btn btn-danger btn-xs" title="Cancelar" onclick="addCancel()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>';
                row += '</tr>'

                if (futureId == 1) {
                    $('#SurgeryTypes').html(row);
                } else {
                    $('#SurgeryTypes').prepend(row);
                }

                $('#SurgeryName' + futureId).focus();
            }
        });

        function addCancel() {
            var futureId = parseInt($('#currentId').val()) + 1;
            $('#SurgeryTypeModal' + futureId).remove();
            $('#addSurgeryType').removeClass('open');
        }

        function addConfirm() {
            var futureId = parseInt($('#currentId').val()) + 1;
            if ($('#SurgeryName' + futureId).val() == '') {
                $('#SurgeryName' + futureId).css("border-color", "red");
            } else {
                var surgeryType = {
                    SurgeryTypeId: null,
                    SurgeryTypeName: $('#SurgeryName' + futureId).val().trim(),
                    Surgeries: null
                }

                var options = {};
                options.url = '@Url.Action("CreateSurgeryType", "Surgeries")';
                options.type = "POST";
                options.data = JSON.stringify(surgeryType);
                options.dataType = "JSON";
                options.contentType = "application/json",
                options.success = function (data) {
                   if (data.status) {
                       $('#SurgeryName' + futureId).attr('disabled', true);
                       $('#SurgeryName' + futureId).addClass('without-borders');

                       $('#SurgeryTypeButtons' + futureId).html('<button class="btn btn-primary btn-xs" onclick="editSurgeryType(' + data.surgeryTypeId + ')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;<button class="btn btn-danger btn-xs" onclick="deleteSurgeryType(' + data.surgeryTypeId + ')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>');
                       $('#SurgeryTypeModel' + futureId).css("background-color", "#dee1ea");
                       $('#currentId').val(futureId);

                       $('#addSurgeryType').removeClass('open');

                       //Agregar aquí la nueva cirugía a las listas de cirugías de las ventanas modales
                       $('#SurgeryTypeSelect').append('<option value="' + data.surgeryTypeId + '">' + $('#SurgeryName' + futureId).val().trim() + '</option>');
                       $('#EditSurgeryTypeSelect').append('<option value="' + data.surgeryTypeId + '">' + $('#SurgeryName' + futureId).val().trim() + '</option>');
                       $('#OccasionalSurgeryTypeSelect').append('<option value="' + data.surgeryTypeId + '">' + $('#SurgeryName' + futureId).val().trim() + '</option>');
                   } else {
                       $('#SurgeryName' + futureId).val('');
                       $('#SurgeryName' + futureId).css("border-color", "red");
                       $('#SurgeryName' + futureId).attr('placeholder', 'Ya existe');
                   }
                };
                $.ajax(options);
            }
        }

        function editSurgeryType(surgeryTypeId) {
            var inputcontent = $('#SurgeryName' + surgeryTypeId).val();
            $('#SurgeryName' + surgeryTypeId).attr('disabled', false);
            $('#SurgeryName' + surgeryTypeId).removeClass('without-borders');

            var buttons = '<button class="btn btn-success btn-xs" title="Confirmar" onclick="editConfirm(' + surgeryTypeId + ')"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>&nbsp;';
            buttons += '<button class="btn btn-danger btn-xs" title="Cancelar" onclick="editCancel(\'' + surgeryTypeId + '\',\'' + inputcontent + '\')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>';

            $('#SurgeryTypeButtons' + surgeryTypeId).html(buttons);
            $('#SurgeryName' + surgeryTypeId).focus().select();
        }

        function editCancel(surgeryTypeId, inputcontent) {
            $('#SurgeryName' + surgeryTypeId).val(inputcontent);
            $('#SurgeryName' + surgeryTypeId).attr('disabled', true);
            $('#SurgeryName' + surgeryTypeId).addClass('without-borders');

            var buttons = '<button class="btn btn-primary btn-xs" onclick="editSurgeryType(' + surgeryTypeId + ')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;';
            buttons += '<button class="btn btn-danger btn-xs" onclick="deleteSurgeryType(' + surgeryTypeId + ')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>';

            $('#SurgeryTypeButtons' + surgeryTypeId).html(buttons);
        }

        function editConfirm(surgeryTypeId) {
            if ($('#SurgeryName' + surgeryTypeId).val().trim() == '') {
                $('#SurgeryName' + surgeryTypeId).val('');
                $('#SurgeryName' + surgeryTypeId).css('border-color','red');
            } else {
                var options = {};
                options.url = '@Url.Action("EditSurgeryType", "Surgeries")';
                options.type = "POST";
                options.data = { "surgerytypeId": surgeryTypeId, "surgerytypename": $('#SurgeryName' + surgeryTypeId).val().trim() };
                options.dataType = "json";
                options.success = function (data) {
                   if (data) {
                       $('#SurgeryName' + surgeryTypeId).attr('disabled', true);
                       $('#SurgeryName' + surgeryTypeId).addClass('without-borders');

                       $('#SurgeryTypeButtons' + surgeryTypeId).html('<button class="btn btn-primary btn-xs" onclick="editSurgeryType(' + surgeryTypeId + ')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;<button class="btn btn-danger btn-xs" onclick="deleteSurgeryType(' + surgeryTypeId + ')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>');
                       $('#SurgeryTypeModal' + surgeryTypeId).css("background-color", "#dee1ea");
                       $('#SurgeryName' + surgeryTypeId).attr('placeholder', 'Ingrese nombre de cirugía');

                       //modificar aquí la cirugía de la lista de cirugías de las ventanas modales
                       toastr.info('Para visualizar los cambios al agregar o modificar una notificación es necesario actualizar la página.')
                   } else {
                       $('#SurgeryName' + surgeryTypeId).val('');
                       $('#SurgeryName' + surgeryTypeId).css("border-color", "red");
                       $('#SurgeryName' + surgeryTypeId).attr('placeholder', 'Ya existe');
                   }
                };
                $.ajax(options);
            }
        }

        function deleteSurgeryType(surgeryTypeId) {
            var options = {};
                options.url = '@Url.Action("DeleteSurgeryType", "Surgeries")';
                options.type = "POST";
                options.data = { "surgerytypeId": surgeryTypeId };
                options.dataType = "json";
                options.success = function (data) {
                    if (data) {
                        $('#SurgeryTypeModal' + surgeryTypeId).remove();
                    } else {
                        toastr.warning('Error, imposible eliminar una cirugía con notificaciones asociadas.')
                    }
                };
                $.ajax(options);
        }

        //////////////////////////////////// Create Surgery ///////////////////////////////////////////

        $('#createSurgery').click(function () {
            $('#modalSelectSurgery').show('slow');
        });

        $('#closeSelectSurgery').click(function () {
            $('#modalSelectSurgery').hide('slow');
        });

        //-------------------- Frequent Patient ------------------------

        $('#FrequentPatient').click(function () {
            $('#modalSelectSurgery').hide('slow');

            $('#SurgeryPet').val(0).trigger('change');
            $('#SurgeryTypeSelect').val(0).trigger('change');
            $('#SurgeryDateSpan').hide();
            $('#SurgeryPetSpan').hide();
            $('#SurgeryTypeSelectSpan').hide();

            $('#modalSurgery').show('slow');
        });

        $('.modalClose').click(function () {
            $('#modalSurgery').hide('slow');
        });

        $('#Save').click(function () {
            $('#SurgeryDateSpan').hide();
            $('#SurgeryPetSpan').hide();
            $('#SurgeryTypeSelectSpan').hide();

            var validation = true;
            if ($('#SurgeryDate').val() == '') {
                $('#SurgeryDateSpan').text('Debe seleccionar una fecha').show();
                validation = false;
            }

            if ($('#SurgeryPet').val() == 0 | $('#SurgeryPet').val() == null) {
                $('#SurgeryPetSpan').text('Debe seleccionar un Paciente').show();
                validation = false;
            }

            if ($('#SurgeryTypeSelect').val() == 0 | $('#SurgeryTypeSelect').val() == null) {
                $('#SurgeryTypeSelectSpan').text('Debe seleccionar una Cirugía').show();
            }

            if (validation) {
                $('#modalSurgery').hide('slow');

                var surgery = {
                    SurgeryId: null,
                    SurgeryTypeId: $('#SurgeryTypeSelect').val(),
                    SurgeryType: null,
                    SurgeryDate: $('#SurgeryDate').val(),
                    PetId: $('#SurgeryPet').val(),
                    Pet: null,
                    SurgeryPatientFrequent: true
                }

                $.ajax({
                    url: '@Url.Action("CreateSurgery","Surgeries")',
                    type: "POST",
                    data: JSON.stringify(surgery),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.status) {
                            var row = '<tr id="Surgery' + d.surgeryId + '" style="background-color: #dee1ea">' +
                                            '<td id="SurgeryId' + d.surgeryId + '" class="text-center">' + d.surgeryId + '</td>' +
                                            '<td id="SurgeryPet' + d.surgeryId + '">' + d.petName + '</td>' +
                                            '<td id="SurgeryPetSpecie' + d.surgeryId + '" class="text-center">' + d.petSpecie + '</td>' +
                                            '<td id="SurgeryPetSex' + d.surgeryId + '" class="text-center">' + d.petSex + '</td>' +
                                            '<td id="SurgeryPetOwner' + d.surgeryId + '" class="text-center">' + d.owner + '</td>' +
                                            '<td id="SurgeryType' + d.surgeryId + '" class="text-center">' + d.surgeryType + '</td>' +
                                            '<td id="SurgeryDate' + d.surgeryId + '" class="text-center" data-toggle="tooltip" title="'+ d.dateTitle +'">' + d.date.split('-')[2] + '/' + d.date.split('-')[1] + '/' + d.date.split('-')[0] + '</td>' +
                                            '<td id="SurgeryButtons' + d.surgeryId + '" class="text-center"><button class="btn btn-primary btn-sm" title="Editar" onclick="editSurgery(\'' + d.surgeryId + '\',\'' + $('#SurgeryPet').val() + '\',\'' + $('#SurgeryTypeSelect').val() + '\',\'' + d.date + '\')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;<button class="btn btn-danger btn-sm" title="Eliminar" onclick="deleteSurgery('+ d.surgeryId +')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>' +
                                        '</tr>';

                            $('#Surgeries').prepend(row);
                            toastr.success('Se ha agregado una nueva notificación de Cirugía');
                        } else {
                            toastr.warning('Error');
                        }
                    }
                });
            }
        });

        //------------------------------ Occasional Patient ------------------------

        $('#OccasionalPatient').click(function () {
            $('#modalSelectSurgery').hide('slow');

            $('#OccasionalSurgeryDateSpan').hide();
            $('#OccasionalSurgeryTypeSelectSpan').hide();
            $('#OccasionalOwnerNameSpan').hide();
            $('#OccasionalOwnerLastNameSpan').hide();
            $('#OccasionalPatientNameSpan').hide();
            $('#OccasionalPatientBirthdaySpan').hide();

            $('#OccasionalSurgeryDate').val('');
            $('#OccasionalSurgeryTypeSelect').val(null).trigger('change');
            $('#OccasionalOwnerName').val('');
            $('#OccasionalOwnerLastName').val('');
            $('#OccasionalOwnerPhone').val('');
            $('#OccasionalPatientName').val('');
            $('#OccasionalPatientBirthday').val('');

            $('#modalOccasionalSurgery').show('slow');
        });

        $('.occasionalClose').click(function () {
            $('#modalOccasionalSurgery').hide('slow');
        });

        $('#OccasionalSave').click(function () {
            $('#OccasionalSurgeryDateSpan').hide();
            $('#OccasionalSurgeryTypeSelectSpan').hide();
            $('#OccasionalOwnerNameSpan').hide();
            $('#OccasionalOwnerLastNameSpan').hide();
            $('#OccasionalPatientNameSpan').hide();
            $('#OccasionalPatientBirthdaySpan').hide();

            var validation = true;
            if ($('#OccasionalSurgeryDate').val() == '') {
                validation = false;
                $('#OccasionalSurgeryDateSpan').text('Debe ingresar una fecha').show();
            }

            if ($('#OccasionalSurgeryTypeSelect').val() == 0 | $('#OccasionalSurgeryTypeSelect').val() == null) {
                validation = false;
                $('#OccasionalSurgeryTypeSelectSpan').text('Debe seleccionar una cirugía').show();
            }

            if ($('#OccasionalOwnerName').val().trim() == '') {
                validation = false;
                $('#OccasionalOwnerNameSpan').text('Debe ingresar el nombre del Dueño').show();
            }

            if ($('#OccasionalOwnerLastName').val().trim() == '') {
                validation = false;
                $('#OccasionalOwnerLastNameSpan').text('Debe ingresar el apellido del Dueño').show();
            }

            if ($('#OccasionalPatientName').val().trim() == '') {
                validation = false;
                $('#OccasionalPatientNameSpan').text('Debe ingresar el nombre del paciente').show();
            }

            if ($('#OccasionalPatientBirthday').val() == '') {
                validation = false;
                $('#OccasionalPatientBirthdaySpan').text('Debe ingresar la fecha de nacimiento del paciente').show();
            }

            var specie = 1;
            var specievalue = 'Perro';
            if ($('#OccasionalPetCatSpecie').is(':checked')) {
                specie = 2;
                specievalue = 'Gato';
            }

            var sex = false;
            var sexvalue = 'Hembra';
            if ($('#OccasionalPetMaleSex').is(':checked')) {
                sex = true;
                sexvalue = 'Macho';
            }

            if (validation) {
                var owner = {
                    OwnerId: null,
                    OwnerName: $('#OccasionalOwnerName').val().trim(),
                    OwnerLastName: $('#OccasionalOwnerLastName').val().trim(),
                    OwnerAddress: '',
                    OwnerPhone: $('#OccasionalOwnerPhone').val().trim(),
                    Pets: null
                }

                var pet = {
                    PetId: null,
                    PetName: $('#OccasionalPatientName').val().trim(),
                    PetSpecie: specie,
                    PetBreed: '',
                    PetSex: sex,
                    PetBirthday: $('#OccasionalPatientBirthday').val(),
                    PetColor: '',
                    OwnerId: null,
                    Owner: null,
                    Vaccinations: null,
                    Surgeries: null
                }

                var surgery = {
                    SurgeryId: null,
                    SurgeryTypeId: $('#OccasionalSurgeryTypeSelect').val(),
                    SurgeryType: null,
                    SurgeryDate: $('#OccasionalSurgeryDate').val(),
                    PetId: null,
                    Pet: null,
                    SurgeryPatientFrequent: false
                }

                var ownerPetSurgery = {
                    Surgery: surgery,
                    Owner: owner,
                    Pet: pet
                }

                bootbox.confirm({
                    title: "Guardar Paciente y Dueño",
                    message: "¿Desea guardar el Paciente y Dueño ingresados?",
                    buttons: {
                        confirm: {
                            label: "Si",
                            className: "btn-success"
                        },
                        cancel: {
                            label: "No",
                            className: "btn-primary"
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            ownerPetSurgery.Surgery.SurgeryPatientFrequent = true;
                            toastr.success('Se han guardado los datos del Dueño y Paciente ingresados');
                        }

                        $.ajax({
                            url: '@Url.Action("CreateOwnerSurgery","Surgeries")',
                            type: "POST",
                            data: JSON.stringify(ownerPetSurgery),
                            dataType: "JSON",
                            contentType: "application/json",
                            success: function (d) {
                                $('#modalOccasionalSurgery').hide('slow');

                                var row = '<tr id="Surgery' + d.surgeryId + '" style="background-color: #dee1ea">' +
                                    '<td id="SurgeryId' + d.surgeryId + '" class="text-center">' + d.surgeryId + '</td>' +
                                    '<td id="SurgeryPet' + d.surgeryId + '">' + pet.PetName + '</td>' +
                                    '<td id="SurgeryPetSpecie' + d.surgeryId + '" class="text-center">' + specievalue + '</td>' +
                                    '<td id="SurgeryPetSex' + d.surgeryId + '" class="text-center">' + sexvalue + '</td>' +
                                    '<td id="SurgeryPetOwner' + d.surgeryId + '" class="text-center">' + owner.OwnerLastName + ', ' + owner.OwnerName + '</td>' +
                                    '<td id="SurgeryType' + d.surgeryId + '" class="text-center">' + d.surgeryTypeName + '</td>' +
                                    '<td id="SurgeryDate' + d.surgeryId + '" class="text-center" data-toggle="tooltip" title="' + d.dateTitle + '">' + surgery.SurgeryDate.split('-')[2] + '/' + surgery.SurgeryDate.split('-')[1] + '/' + surgery.SurgeryDate.split('-')[0] + '</td>'

                                if (ownerPetSurgery.Surgery.SurgeryPatientFrequent) {
                                    row += '<td id="SurgeryButtons" class="text-center"><button class="btn btn-primary btn-sm" title="Editar" onclick=""><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;<button class="btn btn-danger btn-sm" title="Eliminar" onclick=""><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td></tr>';
                                } else {
                                    row += '<td id="SurgeryButtons" class="text-center"><button class="btn btn-primary btn-sm" title="Editar" onclick=""><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;<button class="btn btn-danger btn-sm" title="Eliminar" onclick=""><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td></tr>';
                                }

                                $('#Surgeries').prepend(row);
                                toastr.success('Se ha añadido una nueva cirugía');
                            }
                        });
                    }
                });
            }
        });

        //////////////////////////////////// Edit Surgery ///////////////////////////////////////////

        function editSurgery(surgeryId, petId, surgeryTypeId, surgeryDate) {
            $('#EditSurgeryId').text(String(surgeryId));
            $('#EditSurgeryDate').val(surgeryDate);
            $('#EditSurgeryDateSpan').hide();
            $('#EditSurgeryPet').val(petId).trigger('change');
            $('#EditSurgeryPetSpan').hide();
            $('#EditSurgeryTypeSelect').val(surgeryTypeId).trigger('change');
            $('#EditSurgeryTypeSelectSpan').hide();

            $('#editSurgery').show('slow');
        }

        $('.editClose').click(function () {
            $('#editSurgery').hide('slow');
        });

        $('#EditSave').click(function () {
            $('#EditSurgeryDateSpan').hide();
            $('#EditSurgeryPetSpan').hide();
            $('#EditSurgeryTypeSelectSpan').hide();

            var validation = true;
            if ($('#EditSurgeryDate').val() == '') {
                validation = false;
                $('#EditSurgeryDateSpan').text('Debe seleccionar una fecha').show();
            }

            if ($('#EditSurgeryPet').val() == 0 | $('#EditSurgeryPet').val() == null) {
                validation = false;
                $('#EditSurgeryPetSpan').text('Debe seleccionar un Paciente').show();
            }

            if ($('#EditSurgeryTypeSelect').val() == 0 | $('#EditSurgeryTypeSelect').val() == null) {
                validation = false;
                $('#EditSurgeryTypeSelectSpan').text('Debe seleccionar la cirugía que realizará').show();
            }

            if (validation) {
                $('#editSurgery').hide('slow');

                var surgery = {
                    SurgeryId: parseInt($('#EditSurgeryId').text()),
                    SurgeryTypeId: $('#EditSurgeryTypeSelect').val(),
                    SurgeryType: null,
                    SurgeryDate: $('#EditSurgeryDate').val(),
                    PetId: $('#EditSurgeryPet').val(),
                    Pet: null,
                    SurgeryPatientFrequent: true
                }

                $.ajax({
                    url: '@Url.Action("EditSurgery","Surgeries")',
                    type: "POST",
                    data: JSON.stringify(surgery),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.status) {
                            var surgeryId = surgery.SurgeryId;

                            $('#SurgeryPet' + surgeryId).html(d.pet);
                            $('#SurgeryPetSpecie' + surgeryId).html(d.specie);
                            $('#SurgeryPetSex' + surgeryId).html(d.sex);
                            $('#SurgeryPetOwner' + surgeryId).html(d.owner);
                            $('#SurgeryType' + surgeryId).html(d.surgeryType);
                            $('#SurgeryDate' + surgeryId).html(d.date.split('-')[2] + '/' + d.date.split('-')[1] + '/' + d.date.split('-')[0]);
                            $('#SurgeryDate' + surgeryId).attr('title', d.dateTitle);

                            $('#SurgeryButtons' + surgeryId).html('<button class="btn btn-primary btn-sm" onclick="editSurgery(\'' + surgeryId + '\',\'' + $('#EditSurgeryPet').val() + '\',\'' + d.surgeryTypeId + '\',\'' + d.date + '\')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;<button class="btn btn-danger btn-sm" title="Eliminar" onclick="deleteSurgery(' + surgeryId + ')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>');
                            $('#Surgery' + surgeryId).css('background-color', '#dee1ea');
                        } else {
                            toastr.warning('Error: La modificación no ha podido realizarse, si el error persiste contacte al desarrollador')
                        }
                    }
                });
            }
        });

        //-------------------------------------------- Edit Occasional Surgery -----------------------------------------

        function editOccasionalSurgery(surgeryId,surgeryDate,surgeryTypeId,petBirthday,ownerPhone) {
            $('#EditOccasionalSurgeryDateSpan').hide();
            $('#EditOccasionalSurgeryTypeSelectSpan').hide();
            $('#EditOccasionalOwnerNameSpan').hide();
            $('#EditOccasionalOwnerLastNameSpan').hide();
            $('#EditOccasionalPatientNameSpan').hide();
            $('#EditOccasionalPatientBirthdaySpan').hide();

            $('#OccasionalSurgeryId').text(surgeryId);
            $('#EditOccasionalSurgeryDate').val(surgeryDate);
            $('#EditOccasionalSurgeryTypeSelect').val(surgeryTypeId).trigger('change');
            var owner = $('#SurgeryPetOwner' + surgeryId).html().trim().split(',')[1];
            $('#EditOccasionalOwnerName').val(owner.trim());
            owner = $('#SurgeryPetOwner' + surgeryId).html().trim().split(',')[0];
            $('#EditOccasionalOwnerLastName').val(owner.trim());
            $('#EditOccasionalOwnerPhone').val(ownerPhone);
            $('#EditOccasionalPatientName').val($('#SurgeryPet' + surgeryId).html().trim());
            $('#EditOccasionalPatientBirthday').val(petBirthday);

            if ($('#SurgeryPetSpecie' + surgeryId).html().trim() == 'Perro') {
                $('#EditOccasionalPetDogSpecie').prop('checked', true);
            } else {
                $('#EditOccasionalPetCatSpecie').prop('checked', true);
            }

            if ($('#SurgeryPetSex' + surgeryId).html().trim() == 'Macho') {
                $('#EditOccasionalPetMaleSex').prop('checked', true);
            } else {
                $('#EditOccasionalPetFemaleSex').prop('checked', true);
            }

            $('#editOccasionalSurgery').show('slow');
        }

        $('.editOccasionalClose').click(function () {
            $('#editOccasionalSurgery').hide('slow');
        });

        $('#EditOccasionalSave').click(function () {
            $('#EditOccasionalSurgeryDateSpan').hide();
            $('#EditOccasionalSurgeryTypeSelectSpan').hide();
            $('#EditOccasionalOwnerNameSpan').hide();
            $('#EditOccasionalOwnerLastNameSpan').hide();
            $('#EditOccasionalPatientNameSpan').hide();
            $('#EditOccasionalPatientBirthdaySpan').hide();

            var validation = true;
            if ($('#EditOccasionalSurgeryDate').val() == '') {
                validation = false;
                $('#EditOccasionalSurgeryDateSpan').text('Debe ingresar una fecha').show();
            }

            if ($('#EditOccasionalSurgeryTypeSelect').val() == 0 | $('#EditOccasionalSurgeryTypeSelect').val() == null) {
                validation = false;
                $('#EditOccasionalSurgeryTypeSelectSpan').text('Debe seleccionar una cirugía').show();
            }

            if ($('#EditOccasionalOwnerName').val().trim() == '') {
                validation = false;
                $('#EditOccasionalOwnerNameSpan').text('Debe ingresar el nombre del Dueño').show();
            }

            if ($('#EditOccasionalOwnerLastName').val().trim() == '') {
                validation = false;
                $('#EditOccasionalOwnerLastNameSpan').text('Debe ingresar el apellido del Dueño').show();
            }

            if ($('#EditOccasionalPatientName').val().trim() == '') {
                validation = false;
                $('#EditOccasionalPatientNameSpan').text('Debe ingresar el nombre del paciente').show();
            }

            if ($('#EditOccasionalPatientBirthday').val() == '') {
                validation = false;
                $('#EditOccasionalPatientBirthdaySpan').text('Debe ingresar la fecha de nacimiento del paciente').show();
            }

            var specie = 1;
            var specievalue = 'Perro';
            if ($('#EditOccasionalPetCatSpecie').is(':checked')) {
                specie = 2;
                specievalue = 'Gato';
            }

            var sex = false;
            var sexvalue = 'Hembra';
            if ($('#EditOccasionalPetMaleSex').is(':checked')) {
                sex = true;
                sexvalue = 'Macho';
            }

            if (validation) {
                $('#editOccasionalSurgery').hide('slow');

                var surgery = {
                    SurgeryId: parseInt($('#OccasionalSurgeryId').text()),
                    SurgeryTypeId: $('#EditOccasionalSurgeryTypeSelect').val(),
                    SurgeryType: null,
                    SurgeryDate: $('#EditOccasionalSurgeryDate').val(),
                    PetId: null,
                    Pet: null,
                    SurgeryPatientFrequent: false
                }

                var pet = {
                    PetId: null,
                    PetName: $('#EditOccasionalPatientName').val().trim(),
                    PetSpecie: specie,
                    PetBreed: '',
                    PetSex: sex,
                    PetBirthday: $('#EditOccasionalPatientBirthday').val(),
                    PetColor: '',
                    OwnerId: null,
                    Owner: null,
                    Vaccinations: null,
                    Surgeries: null
                }

                var owner = {
                    OwnerId: null,
                    OwnerName: $('#EditOccasionalOwnerName').val().trim(),
                    OwnerLastName: $('#EditOccasionalOwnerLastName').val().trim(),
                    OwnerAddress: '',
                    OwnerPhone: $('#EditOccasionalOwnerPhone').val(),
                    Pets: null
                }

                var ownerPetSurgery = {
                    Surgery: surgery,
                    Owner: owner,
                    Pet: pet
                }

                $.ajax({
                    url: '@Url.Action("EditOwnerSurgery","Surgeries")',
                    type: "POST",
                    data: JSON.stringify(ownerPetSurgery),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        $('#SurgeryPet' + d.surgeryId).html(pet.PetName);
                        $('#SurgeryPetSpecie' + d.surgeryId).html(specievalue);
                        $('#SurgeryPetSex' + d.surgeryId).html(sexvalue);
                        $('#SurgeryPetOwner' + d.surgeryId).html(d.owner);
                        $('#SurgeryType' + d.surgeryId).html(d.surgeryType);
                        $('#SurgeryDate' + d.surgeryId).html(d.date.split('-')[2] + '/' + d.date.split('-')[1] + '/' + d.date.split('-')[0]);
                        $('#SurgeryDate' + d.surgeryId).attr('title', d.dateTitle);

                        $('#SurgeryButtons' + d.surgeryId).html('<button class="btn btn-primary btn-sm" onclick="editOccasionalSurgery(\'' + d.surgeryId + '\',\'' + surgery.SurgeryDate + '\',\'' + surgery.SurgeryTypeId + '\',\'' + pet.PetBirthday + '\',\'' + owner.OwnerPhone + '\')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;<button class="btn btn-danger btn-sm" title="Eliminar" onclick="deleteSurgery(' + d.surgeryId + ')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>');
                        $('#Surgery' + d.surgeryId).css('background-color', '#dee1ea');

                        toastr.success('Se ha modificado la notificación de cirugía nro ' + String(d.surgeryId));
                    }
                });
            }

        });

        /////////////////////////////////////////////////// Delete Surgery //////////////////////////////////////////////

        function deleteSurgery(surgeryId) {
            bootbox.confirm({
                title: "Eliminar Cirugía",
                message: "¿Está seguro de eliminar la notificación de Cirugía Nro " + String(surgeryId) + "?",
                buttons: {
                    confirm: {
                        label: "Eliminar",
                        className: "btn-danger"
                    },
                    cancel: {
                        label: "Cancelar",
                        className: "btn-primary"
                    }
                },
                callback: function (result) {
                    if (result) {
                        var options = {};
                        options.url = '@Url.Action("DeleteSurgery", "Surgeries")';
                        options.type = "POST";
                        options.data = { "surgeryId": surgeryId };
                        options.dataType = "json";
                        options.success = function (data) {
                            if (data) {
                                toastr.success("Notificación eliminada");
                                $('#Surgery' + surgeryId).closest('tr').remove();
                            }
                        };
                        $.ajax(options);
                    }
                }
            });
        }
    </script>
}
