@model IEnumerable<SistemaVeterinaria.Models.Surgery>

@{
    ViewBag.Title = "Index";
}

<head>
    <style>
        #SurgeryTypesTable_wrapper{
            margin-top:0;
        }

        .without-borders{
            background-color: transparent;            
            border: none;
        }

        td input {
            width: 100%;
        }

        td text:first-child {
            display: none;
        }
    </style>
</head>
<div style="width: 100%;display: inline-flex">
    <div style="width: 25%"><a id="createSurgery" class="btn btn-success" style="margin-top: 6%">Agregar Notificación</a></div>
    <div style="width: 50%">
        <h2 class="text-center">Notificaciones de Cirugías</h2>
    </div>
    <div class="text-right" style="width: 25%"><a id="openSurgeryTypes" class="btn btn-primary" style="margin-top: 6%">Cirugías</a></div>
</div>
<hr style="color: grey;border-color: grey;margin-top: 0"/>
<table id="table" class="table table-bordered">
    <thead>
        <tr>
            <th>
                Nro
            </th>
            <th>
                Paciente
            </th>
            <th class="text-center">
                Especie
            </th>
            <th class="text-center">
                Sexo
            </th>
            <th class="text-center">
                Dueño
            </th>
            <th class="text-center">
                Cirugía
            </th>
            <th class="text-center">
                Fecha
            </th>
            <th class="text-center">
                Opciones
            </th>
        </tr>
    </thead>

<tbody id="Surgeries">
    @foreach (var item in Model)
    {
        <tr id="@("Surgery" + item.SurgeryId)">
            <td id="@("SurgeryId" + item.SurgeryId)" class="text-center">
                @item.SurgeryId
            </td>
            <td id="@("SurgeryPet" + item.SurgeryId)">
                @Html.DisplayFor(modelItem => item.Pet.PetName)
            </td>
            <td id="@("SurgeryPetSpecie" + item.SurgeryId)" class="text-center">
                @if (item.Pet.PetSpecie == SistemaVeterinaria.Models.Species.Perro)
                {
                    <text>Perro</text>
                }
                else
                {
                    <text>Gato</text>
                }
            </td>
            <td id="@("SurgeryPetSex" + item.SurgeryId)" class="text-center">
                @if (item.Pet.PetSex)
                {
                    <text>Macho</text>
                }
                else
                {
                    <text>Hembra</text>
                }
            </td>
            <td id="@("SurgeryPetOwner" + item.SurgeryId)" class="text-center">
                @item.Pet.Owner.OwnerFullName
            </td>
            <td id="@("SurgeryType" + item.SurgeryId)" class="text-center">
                @Html.DisplayFor(modelItem => item.SurgeryType.SurgeryTypeName)
            </td>
            <td id="@("SurgeryDate" + item.SurgeryId)" class="text-center">
                <text>@item.SurgeryDate.ToString("yyyy/MM/dd")</text>
                <text>@item.SurgeryDate.ToString("dd/MM/yyyy")</text>
            </td>
            <td id="@("SurgeryButtons" + item.SurgeryId)" class="text-center">
                <button class="btn btn-primary btn-sm" title="Editar" onclick="editSurgery(@item.SurgeryId,@item.PetId,@item.SurgeryTypeId,'@item.SurgeryDate.ToString("yyyy-MM-dd")')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                <button class="btn btn-danger btn-sm" title="Eliminar" onclick="deleteSurgery(@item.SurgeryId)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
            </td>
        </tr>
    }
</tbody>
</table>

<div id="modalSurgery" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div style="width:20%"></div>
                <h4 style="width:60%" class="modal-title text-center">Agregar Notificación de Cirugía</h4>
                <div style="width:20%" class="text-right">
                    <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal" aria-label="Close" id="closeSurgery">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="modalinput">
                    <label class="modallabel">Fecha:</label>
                    <input id="SurgeryDate" type="date" style="width:30%" />
                </div>
                <span id="SurgeryDateSpan" style="color:red;display:none;margin-left:30%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="modallabel">Paciente:</label>
                    <select id="SurgeryPet" class="SurgeryPetSelect" style="width:60%">
                        @foreach (var item in ViewBag.Pets)
                        {
                            <option value="@item.PetId">@item.PetName (@item.PetSpecie) - @item.Owner.OwnerFullName</option>
                        }
                    </select>
                </div>
                <span id="SurgeryPetSpan" style="color:red;display:none;margin-left:30%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="modallabel">Cirugía:</label>
                    <select id="SurgeryTypeSelect" class="SurgeryTypeSelect" style="width:60%">
                        @foreach (var item in ViewBag.SurgeryTypes)
                        {
                            <option value="@item.SurgeryTypeId">@item.SurgeryTypeName</option>
                        }
                    </select>
                </div>
                <span id="SurgeryTypeSelectSpan" style="color:red;display:none;margin-left:30%"></span>
            </div>
            <div class="modal-footer">
                <button id="Save" type="button" class="btn btn-success">Guardar</button>
                <button id="Cancel" type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="editSurgery" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div style="width:20%"></div>
                <h4 style="width:60%" class="modal-title text-center">Editar Notificación de Cirugía</h4>
                <div style="width:20%" class="text-right">
                    <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal" aria-label="Close" id="editCloseSurgery">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="modalinput">
                    <label class="modallabel">Nro Cirugía:</label>
                    <p id="EditSurgeryId"></p>
                </div>
                <div class="modalinput">
                    <label class="modallabel">Fecha:</label>
                    <input id="EditSurgeryDate" type="date" style="width:30%" />
                </div>
                <span id="EditSurgeryDateSpan" style="color:red;display:none;margin-left:30%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="modallabel">Paciente:</label>
                    <select id="EditSurgeryPet" class="SurgeryPetSelect" style="width:60%">
                        @foreach (var item in ViewBag.Pets)
                        {
                            <option value="@item.PetId">@item.PetName (@item.PetSpecie) - @item.Owner.OwnerFullName</option>
                        }
                    </select>
                </div>
                <span id="EditSurgeryPetSpan" style="color:red;display:none;margin-left:30%"></span>
                <div class="modalinput" style="margin-top:1%">
                    <label class="modallabel">Cirugía:</label>
                    <select id="EditSurgeryTypeSelect" class="SurgeryTypeSelect" style="width:60%">
                        @foreach (var item in ViewBag.SurgeryTypes)
                        {
                            <option id="@("edopt" + item.SurgeryTypeId)" value="@item.SurgeryTypeId">@item.SurgeryTypeName</option>
                        }
                    </select>
                </div>
                <span id="EditSurgeryTypeSelectSpan" style="color:red;display:none;margin-left:30%"></span>
            </div>
            <div class="modal-footer">
                <button id="EditSave" type="button" class="btn btn-success">Guardar</button>
                <button id="EditCancel" type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalSurgeryTypes" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div style="width:33%"></div>
                <h4 style="width:34%" class="modal-title text-center">Cirugías</h4>
                <div style="width:33%" class="text-right">
                    <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal" aria-label="Close" id="CancelSurgeryTypes">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <button id="addSurgeryType" class="btn btn-success btn-sm">Agregar Cirugía</button>
                <table id="SurgeryTypesTable" class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:13%">Nro</th>
                            <th style="width:300px">Cirugía</th>
                            <th class="text-center">Opciones</th>
                        </tr>
                    </thead>
                    <tbody id="SurgeryTypes">
                        @foreach (var item in ViewBag.SurgeryTypes)
                        {
                            <tr id="@("SurgeryTypeModal" + item.SurgeryTypeId)">
                                <td class="text-center">@item.SurgeryTypeId</td>
                                <td><input id="@("SurgeryName" + item.SurgeryTypeId)" type="text" value="@item.SurgeryTypeName" class="without-borders" disabled="disabled" placeholder="Ingrese nombre de cirugía"/></td>
                                <td id="@("SurgeryTypeButtons" + item.SurgeryTypeId)" class="text-center">
                                    <button class="btn btn-primary btn-xs" title="Editar" onclick="editSurgeryType(@item.SurgeryTypeId)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                                    <button class="btn btn-danger btn-xs" title="Eliminar" onclick="deleteSurgeryType(@item.SurgeryTypeId)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <input id="currentId" type="number" style="display:none" value="@ViewBag.LastSurgeryTypeId" />
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#table').DataTable({
            order: [[3, "asc"]],
            "language": {
                "url": "/Scripts/DataTables/spanish.json"
            }
        });

        $('#SurgeryTypesTable').DataTable({
            "bInfo": false,
            "bLengthChange": false,
            "lengthMenu": [[5], [5]],
            "language": {
                "url": "/Scripts/DataTables/spanish.json"
            }
        });

        $('.SurgeryPetSelect').select2({
            allowClear: true,
            placeholder: "Seleccione un Paciente...",
        });

        $('.SurgeryTypeSelect').select2({
            allowClear: true,
            placeholder: "Seleccione una Cirugía...",
        });

        $('#openSurgeryTypes').click(function () {
            $('#modalSurgeryTypes').show('slow');
        });

        $('#CancelSurgeryTypes').click(function () {
            $('#addSurgeryType').removeClass('open');
            $('#modalSurgeryTypes').hide('slow');
        });

        $('#addSurgeryType').click(function () {
            if (!$('#addSurgeryType').hasClass('open')) {
                $('#addSurgeryType').addClass('open');

                var futureId = parseInt($('#currentId').val()) + 1;
                var row = '<tr id="SurgeryTypeModal' + futureId + '">';
                row += '<td id="SurgeryTypeId' + futureId + '" class="text-center">' + String(futureId) + '</td>';
                row += '<td id="SurgeryTypeName' + futureId + '"><input id="SurgeryName' + futureId + '" type="text" placeholder="Ingrese nombre de cirugía"/></td>';
                row += '<td id="SurgeryTypeButtons' + futureId + '" class="text-center"><button class="btn btn-success btn-xs" title="Agregar" onclick="addConfirm()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>&nbsp;<button class="btn btn-danger btn-xs" title="Cancelar" onclick="addCancel()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>';
                row += '</tr>'

                if (futureId == 1) {
                    $('#SurgeryTypes').html(row);
                } else {
                    $('#SurgeryTypes').prepend(row);
                }

                $('#SurgeryName' + futureId).focus();
            }
        });

        function addCancel() {
            var futureId = parseInt($('#currentId').val()) + 1;
            $('#SurgeryTypeModal' + futureId).remove();
            $('#addSurgeryType').removeClass('open');
        }

        function addConfirm() {
            var futureId = parseInt($('#currentId').val()) + 1;
            if ($('#SurgeryName' + futureId).val() == '') {
                $('#SurgeryName' + futureId).css("border-color", "red");
            } else {
                var surgeryType = {
                    SurgeryTypeId: null,
                    SurgeryTypeName: $('#SurgeryName' + futureId).val().trim(),
                    Surgeries: null
                }

                var options = {};
                options.url = '@Url.Action("CreateSurgeryType", "Surgeries")';
                options.type = "POST";
                options.data = JSON.stringify(surgeryType);
                options.dataType = "JSON";
                options.contentType = "application/json",
                options.success = function (data) {
                   if (data.status) {
                       $('#SurgeryName' + futureId).attr('disabled', true);
                       $('#SurgeryName' + futureId).addClass('without-borders');

                       $('#SurgeryTypeButtons' + futureId).html('<button class="btn btn-primary btn-xs" onclick="editSurgeryType(' + data.surgeryTypeId + ')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;<button class="btn btn-danger btn-xs" onclick="deleteSurgeryType(' + data.surgeryTypeId + ')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>');
                       $('#SurgeryTypeModel' + futureId).css("background-color", "#dee1ea");
                       $('#currentId').val(futureId);

                       $('#addSurgeryType').removeClass('open');

                       //Agregar aquí la nueva cirugía a las listas de cirugías de las ventanas modales
                       $('#SurgeryTypeSelect').append('<option value="' + data.surgeryTypeId + '">' + $('#SurgeryName' + futureId).val().trim() + '</option>');
                       $('#EditSurgeryTypeSelect').append('<option value="' + data.surgeryTypeId + '">' + $('#SurgeryName' + futureId).val().trim() + '</option>');
                   } else {
                       $('#SurgeryName' + futureId).val('');
                       $('#SurgeryName' + futureId).css("border-color", "red");
                       $('#SurgeryName' + futureId).attr('placeholder', 'Ya existe');
                   }
                };
                $.ajax(options);
            }
        }

        function editSurgeryType(surgeryTypeId) {
            var inputcontent = $('#SurgeryName' + surgeryTypeId).val();
            $('#SurgeryName' + surgeryTypeId).attr('disabled', false);
            $('#SurgeryName' + surgeryTypeId).removeClass('without-borders');

            var buttons = '<button class="btn btn-success btn-xs" title="Confirmar" onclick="editConfirm(' + surgeryTypeId + ')"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>&nbsp;';
            buttons += '<button class="btn btn-danger btn-xs" title="Cancelar" onclick="editCancel(\'' + surgeryTypeId + '\',\'' + inputcontent + '\')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>';

            $('#SurgeryTypeButtons' + surgeryTypeId).html(buttons);
            $('#SurgeryName' + surgeryTypeId).focus().select();
        }

        function editCancel(surgeryTypeId, inputcontent) {
            $('#SurgeryName' + surgeryTypeId).val(inputcontent);
            $('#SurgeryName' + surgeryTypeId).attr('disabled', true);
            $('#SurgeryName' + surgeryTypeId).addClass('without-borders');

            var buttons = '<button class="btn btn-primary btn-xs" onclick="editSurgeryType(' + surgeryTypeId + ')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;';
            buttons += '<button class="btn btn-danger btn-xs" onclick="deleteSurgeryType(' + surgeryTypeId + ')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>';

            $('#SurgeryTypeButtons' + surgeryTypeId).html(buttons);
        }

        function editConfirm(surgeryTypeId) {
            if ($('#SurgeryName' + surgeryTypeId).val().trim() == '') {
                $('#SurgeryName' + surgeryTypeId).val('');
                $('#SurgeryName' + surgeryTypeId).css('border-color','red');
            } else {
                var options = {};
                options.url = '@Url.Action("EditSurgeryType", "Surgeries")';
                options.type = "POST";
                options.data = { "surgerytypeId": surgeryTypeId, "surgerytypename": $('#SurgeryName' + surgeryTypeId).val().trim() };
                options.dataType = "json";
                options.success = function (data) {
                   if (data) {
                       $('#SurgeryName' + surgeryTypeId).attr('disabled', true);
                       $('#SurgeryName' + surgeryTypeId).addClass('without-borders');

                       $('#SurgeryTypeButtons' + surgeryTypeId).html('<button class="btn btn-primary btn-xs" onclick="editSurgeryType(' + surgeryTypeId + ')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;<button class="btn btn-danger btn-xs" onclick="deleteSurgeryType(' + surgeryTypeId + ')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>');
                       $('#SurgeryTypeModal' + surgeryTypeId).css("background-color", "#dee1ea");
                       $('#SurgeryName' + surgeryTypeId).attr('placeholder', 'Ingrese nombre de cirugía');

                       //modificar aquí la cirugía de la lista de cirugías de las ventanas modales
                       toastr.info('Para visualizar los cambios al agregar o modificar una notificación es necesario actualizar la página.')
                   } else {
                       $('#SurgeryName' + surgeryTypeId).val('');
                       $('#SurgeryName' + surgeryTypeId).css("border-color", "red");
                       $('#SurgeryName' + surgeryTypeId).attr('placeholder', 'Ya existe');
                   }
                };
                $.ajax(options);
            }
        }

        function deleteSurgeryType(surgeryTypeId) {
            var options = {};
                options.url = '@Url.Action("DeleteSurgeryType", "Surgeries")';
                options.type = "POST";
                options.data = { "surgerytypeId": surgeryTypeId };
                options.dataType = "json";
                options.success = function (data) {
                    if (data) {
                        $('#SurgeryTypeModal' + surgeryTypeId).remove();
                    } else {
                        toastr.warning('Error, imposible eliminar una cirugía con notificaciones asociadas.')
                    }
                };
                $.ajax(options);
        }

        //////////////////////////////////// Create Surgery ///////////////////////////////////////////

        $('#createSurgery').click(function () {
            $('#SurgeryPet').val(0).trigger('change');
            $('#SurgeryTypeSelect').val(0).trigger('change');
            $('#SurgeryDateSpan').hide();
            $('#SurgeryPetSpan').hide();
            $('#SurgeryTypeSelectSpan').hide();

            $('#modalSurgery').show('slow');
        });

        $('#Cancel').click(function () {
            $('#modalSurgery').hide('slow');
        });

        $('#closeSurgery').click(function () {
            $('#modalSurgery').hide('slow');
        });

        $('#Save').click(function () {
            $('#SurgeryDateSpan').hide();
            $('#SurgeryPetSpan').hide();
            $('#SurgeryTypeSelectSpan').hide();

            var validation = true;
            if ($('#SurgeryDate').val() == '') {
                $('#SurgeryDateSpan').text('Debe seleccionar una fecha').show();
                validation = false;
            }

            if ($('#SurgeryPet').val() == 0 | $('#SurgeryPet').val() == null) {
                $('#SurgeryPetSpan').text('Debe seleccionar un Paciente').show();
                validation = false;
            }

            if ($('#SurgeryTypeSelect').val() == 0 | $('#SurgeryTypeSelect').val() == null) {
                $('#SurgeryTypeSelectSpan').text('Debe seleccionar una Cirugía').show();
            }

            if (validation) {
                $('#modalSurgery').hide('slow');

                var surgery = {
                    SurgeryId: null,
                    SurgeryTypeId: $('#SurgeryTypeSelect').val(),
                    SurgeryType: null,
                    SurgeryDate: $('#SurgeryDate').val(),
                    PetId: $('#SurgeryPet').val(),
                    Pet: null
                }

                $.ajax({
                    url: '@Url.Action("CreateSurgery","Surgeries")',
                    type: "POST",
                    data: JSON.stringify(surgery),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.status) {
                            var row = '<tr id="Surgery' + d.surgeryId + '" style="background-color: #dee1ea">' +
                                            '<td id="SurgeryId' + d.surgeryId + '" class="text-center">' + d.surgeryId + '</td>' +
                                            '<td id="SurgeryPet' + d.surgeryId + '">' + d.petName + '</td>' +
                                            '<td id="SurgeryPetSpecie' + d.surgeryId + '" class="text-center">' + d.petSpecie + '</td>' +
                                            '<td id="SurgeryPetSex' + d.surgeryId + '" class="text-center">' + d.petSex + '</td>' +
                                            '<td id="SurgeryPetOwner' + d.surgeryId + '" class="text-center">' + d.owner + '</td>' +
                                            '<td id="SurgeryType' + d.surgeryId + '" class="text-center">' + d.surgeryType + '</td>' +
                                '<td id="SurgeryDate' + d.surgeryId + '" class="text-center">' + d.date.split('-')[2] + '/' + d.date.split('-')[1] + '/' + d.date.split('-')[0] + '</td>' +
                                            '<td id="SurgeryButtons' + d.surgeryId + '" class="text-center"><button class="btn btn-primary btn-sm" title="Editar" onclick="editSurgery(\'' + d.surgeryId + '\',\'' + $('#SurgeryPet').val() + '\',\'' + $('#SurgeryTypeSelect').val() + '\',\'' + d.date + '\')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;<button class="btn btn-danger btn-sm" title="Eliminar" onclick="deleteSurgery('+ d.surgeryId +')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>' +
                                        '</tr>';

                            $('#Surgeries').prepend(row);
                            toastr.success('Se ha agregado una nueva notificación de Cirugía');
                        } else {
                            toastr.warning('Error');
                        }
                    }
                });
            }
        });

        //////////////////////////////////// Edit Surgery ///////////////////////////////////////////

        function editSurgery(surgeryId, petId, surgeryTypeId, surgeryDate) {
            $('#EditSurgeryId').text(String(surgeryId));
            $('#EditSurgeryDate').val(surgeryDate);
            $('#EditSurgeryDateSpan').hide();
            $('#EditSurgeryPet').val(petId).trigger('change');
            $('#EditSurgeryPetSpan').hide();
            $('#EditSurgeryTypeSelect').val(surgeryTypeId).trigger('change');
            $('#EditSurgeryTypeSelectSpan').hide();

            $('#editSurgery').show('slow');
        }

        $('#EditCancel').click(function () {
            $('#editSurgery').hide('slow');
        });

        $('#editCloseSurgery').click(function () {
            $('#editSurgery').hide('slow');
        });

        $('#EditSave').click(function () {
            $('#EditSurgeryDateSpan').hide();
            $('#EditSurgeryPetSpan').hide();
            $('#EditSurgeryTypeSelectSpan').hide();

            var validation = true;
            if ($('#EditSurgeryDate').val() == '') {
                validation = false;
                $('#EditSurgeryDateSpan').text('Debe seleccionar una fecha').show();
            }

            if ($('#EditSurgeryPet').val() == 0 | $('#EditSurgeryPet').val() == null) {
                validation = false;
                $('#EditSurgeryPetSpan').text('Debe seleccionar un Paciente').show();
            }

            if ($('#EditSurgeryTypeSelect').val() == 0 | $('#EditSurgeryTypeSelect').val() == null) {
                validation = false;
                $('#EditSurgeryTypeSelectSpan').text('Debe seleccionar la cirugía que realizará').show();
            }

            if (validation) {
                $('#editSurgery').hide('slow');

                var surgery = {
                    SurgeryId: parseInt($('#EditSurgeryId').text()),
                    SurgeryTypeId: $('#EditSurgeryTypeSelect').val(),
                    SurgeryType: null,
                    SurgeryDate: $('#EditSurgeryDate').val(),
                    PetId: $('#EditSurgeryPet').val(),
                    Pet: null
                }

                $.ajax({
                    url: '@Url.Action("EditSurgery","Surgeries")',
                    type: "POST",
                    data: JSON.stringify(surgery),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.status) {
                            var surgeryId = surgery.SurgeryId;

                            $('#SurgeryPet' + surgeryId).html(d.pet);
                            $('#SurgeryPetSpecie' + surgeryId).html(d.specie);
                            $('#SurgeryPetSex' + surgeryId).html(d.sex);
                            $('#SurgeryPetOwner' + surgeryId).html(d.owner);
                            $('#SurgeryType' + surgeryId).html(d.surgeryType);
                            $('#SurgeryDate' + surgeryId).html(d.date.split('-')[2] + '/' + d.date.split('-')[1] + '/' + d.date.split('-')[0]);

                            $('#SurgeryButtons' + surgeryId).html('<button class="btn btn-primary btn-sm" onclick="editSurgery(\'' + surgeryId + '\',\'' + $('#EditSurgeryPet').val() + '\',\'' + d.surgeryTypeId + '\',\'' + d.date + '\')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>&nbsp;<button class="btn btn-danger btn-sm" title="Eliminar" onclick="deleteSurgery(' + surgeryId + ')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>');
                            $('#Surgery' + surgeryId).css('background-color', '#dee1ea');
                        } else {
                            toastr.warning('Error: La modificación no ha podido realizarse, si el error persiste contacte al desarrollador')
                        }
                    }
                });
            }
        });

        function deleteSurgery(surgeryId) {
            bootbox.confirm({
                title: "Eliminar Cirugía",
                message: "¿Está seguro de eliminar la notificación de Cirugía Nro " + String(surgeryId) + "?",
                buttons: {
                    confirm: {
                        label: "Eliminar",
                        className: "btn-danger"
                    },
                    cancel: {
                        label: "Cancelar",
                        className: "btn-primary"
                    }
                },
                callback: function (result) {
                    if (result) {
                        var options = {};
                        options.url = '@Url.Action("DeleteSurgery", "Surgeries")';
                        options.type = "POST";
                        options.data = { "surgeryId": surgeryId };
                        options.dataType = "json";
                        options.success = function (data) {
                            if (data) {
                                toastr.success("Notificación eliminada");
                                $('#Surgery' + surgeryId).closest('tr').remove();
                            }
                        };
                        $.ajax(options);
                    }
                }
            });
        }
    </script>
}
