@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top:2%;margin-bottom:0">
    <h1 class="text-center">Veterinaria San Francisco de Asís</h1>
    <p class="lead text-center">Bienvenido al sistema de notificaciones de Veterinaria San Francisco de Asís</p>
</div>

<div class="text-center">
    <img src="~/Content/Images/fondo-gato-perro.jpg" style="width:70%;display:none" />
    <img src="~/Content/Images/header_image1-1.jpg" style="width:62%;" />
</div>

<div id="myModal" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="width:50%" class="modal-title">Notificación Diaria</h5>
                <div style="width:50%" class="text-right">
                    <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal" aria-label="Close" id="closenotifications">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                @if (ViewBag.Vaccines > 0)
                {
                    <p>Existen @ViewBag.Vaccines Vacunas programadas para el día de hoy.</p>
                }
                @if (ViewBag.Surgeries > 0)
                {
                    <p>Existen @ViewBag.Surgeries Cirugías programadas para el día de hoy.</p>
                }
                @if (ViewBag.Showers > 0)
                {
                    <p>Existen @ViewBag.Showers Baños programados para el día de hoy.</p>
                }
            </div>
            <div class="modal-footer">
                @if (ViewBag.Vaccines > 0)
                {
                    <a href="@Url.Action("DailyNotification","Vaccines")" class="btn btn-success">Ver Vacunas</a>
                }
                @if (ViewBag.Surgeries > 0)
                {
                    <a href="@Url.Action("DailyNotification","Surgeries")" class="btn btn-primary">Ver Cirugías</a>
                }
                @if (ViewBag.Showers > 0)
                {
                    <a href="@Url.Action("DailyNotification","Showers")" class="btn btn-info">Ver Baños</a>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            if (@ViewBag.Vaccines > 0 | @ViewBag.Surgeries > 0 | @ViewBag.Showers > 0) {
                $('#myModal').show('slow');
            }
        });

        $('#closenotifications').click(function () {
            $('#myModal').hide('slow');
        })
    </script>
}